%title Southeast Science Catalog
%link{ :href => asset_path('seakgis.ico'), :rel => "SHORTCUT ICON"}
%meta{ :name => 'description', :content => 'Southeast Science Catalog' }
%meta{ :name => 'keywords', :content => 'Science Catalog data projects tracking geographic information network alaska' }
%meta{ :name => 'author', :content => 'GINA' }
