%h1 New Cms Attachment
= render 'form'


- content_for :sidebar_menu do
  .list-group
    = link_to cms_attachments_path, class: 'list-group-item' do
      %i.fa.fa-arrow-left.fa-fw
      Back to attachment list
