.row-fluid
  .span12
    %ul#csw.nav.nav-pills
      %li.active
        =link_to "Import Details", "#details", data: {toggle: 'tab'}
      %li
        =link_to "Import Log", "#activity_log", data: {toggle: 'tab'}
      %li
        =link_to "Check Agencies", "#check_agencies", data: {toggle: 'tab'}
      %li.pull-right
        =link_to "Schedule Import", ['import', :manager, @csw_import], class: 'btn'

    .tab-content
      #details.tab-pane.active
        =render "log_details"
      #activity_log.tab-pane
        =render "import_history"
      #check_agencies.tab-pane.table.table-striped.table-bordered
        %table.table.table-striped
          %thead
            %tr
              %th.span6 Unknown Agency
              %th.span4 Alias to:
              %th.span2 Action
          %tbody
            = render partial: "unknown_agency", collection: @unknown_agencies
            = form_tag [:manager, :agency], remote: true do
              = hidden_field_tag "aliases_attributes['text']", ""

 
.spinner

:javascript
  $("select").select2({width: '270px'});