.content
  %h3
    #import-status.pull-right= render "import_status_button"
    = @csw_import.title
    %small= @csw_import.url

- if @logs.empty?
  %h4.content No logs from latest import currently available
- else
  = render "log_details"
        
:javascript
  $("select").select2({width: '270px'});
  
  $("a[data-action='add-alias']").on("click", function(e) {
    e.preventDefault();
    var row = $(this).parents(".unknown-agency")
    var agency_alias = row.data("agency");
    var agency_id = row.find("select option:selected").val()
    
    $.ajax("/manager/agencies/" + agency_id + "/add_alias", {
      type: 'put',
      dataType: 'json',
      data: {
        text: agency_alias
      },
      complete: function() {
        row.hide('slow', function() {
          $(this).remove();
        });
        console.log(row);
      }
    })
  })
