%p
  Editor Menu:
  %br/

  .row
    .col-sm-4
      .btn-group.btn-group-xs
        %i.fa.fa-undo.btn.btn-default.btn-small{ title: 'Undo' }
        %i.fa.fa-repeat.btn.btn-default.btn-small{ title: 'Redo' }
    .col-sm-8
      Undo the last change and Redo the last undo.
