.btn-group.btn-group-sm
  %button.btn.btn-default{ type: 'button', title: 'Undo', data: { action: 'undo' } }
    %i.fa.fa-undo
  %button.btn.btn-default{ type: 'button', title: 'Redo', data: { action: 'redo' } }
    %i.fa.fa-repeat
