.btn-group.btn-group-sm
  %button.btn.btn-default{ type: 'button', title: 'Header 1', data: { action: 'insert', tag: 'h1' } } H1
  %button.btn.btn-default{ type: 'button', title: 'Header 2', data: { action: 'insert', tag: 'h2' } } H2
  %button.btn.btn-default{ type: 'button', title: 'Header 3', data: { action: 'insert', tag: 'h3' } } H3
  %button.btn.btn-default{ type: 'button', title: 'Header 4', data: { action: 'insert', tag: 'h4' } } H4
  %button.btn.btn-default{ type: 'button', title: 'Header 5', data: { action: 'insert', tag: 'h5' } } H5
  %button.btn.btn-default{ type: 'button', title: 'Paragraph', data: { action: 'insert', tag: 'p' } } P
  %button.btn.btn-default{ type: 'button', title: '<br/>', data: { action: 'insert', html: '<br/>' } } BR
