.btn-group.btn-group-sm.dropdown
  = link_to '#', class: "btn btn-default dropdown-toggle", data: { submenu: true, toggle: "dropdown" } do
    View Helpers
    %b.caret
  %ul.dropdown-menu
    %li
      %a{ href: "#", type: 'button', data: { action: 'insert', start: '{{#pages}}', end: '{{/pages}}' } } Page List
    %li.dropdown-submenu
      %a{ href: "#" } Page:
      %ul.dropdown-menu
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ title }}' } } Title
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ slug }}' } } Slug
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ description }}' } } Description
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ created_at }}' } } Created At
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ updated_at }}' } } Updated At
    %li.dropdown-submenu
      %a{ href: "#" } Parent page:
      %ul.dropdown-menu
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ parent_page.title }}' } } Title
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ parent_page.slug }}' } } Slug
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ parent_page.description }}' } } Description
    %li.dropdown-submenu
      %a{ href: "#" } Root page:
      %ul.dropdown-menu
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ root_page.title }}' } } Title
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ root_page.slug }}' } } Slug
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ root_page.description }}' } } Description

    %li.dropdown-submenu
      %a{ href: "#" } Image attachments:
      %ul.dropdown-menu
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', start: '{{#image_attachments}}', end: '{{/image_attachments}}' } } List
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ title }}' } } Title
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ description }}' } } Description
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ thumbnail size="100x100" }}' } } Thumbnail (limit)
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ fit size="100x100" }}' } } Thumbnail (fit)
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ fill size="100x100" }}' } } Thumbnail (fill)

    %li.dropdown-submenu
      %a{ href: "#" } Collections:
      %ul.dropdown-menu
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', start: '{{#collections limit="10"}}', end: '{{/collections}}' } } List
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', start: '{{#collections name="10"}}', end: '{{/collections}}' } } By name
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ name }}' } } Name
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ description }}' } } Description

    %li.dropdown-submenu
      %a{ href: "#" } Portal:
      %ul.dropdown-menu
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{#parent_portal}}' } } Parent portal
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', start: '{{#child_portals}}', end: '{{/child_portals}}' } } Child portals
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', start: '{{#sibling_portals}}', end: '{{/sibling_portals}}' } } Sibling portals
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ portal.title }}' } } Title
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ portal.acronym }}' } } Acronym
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ portal.by_line }}' } } By Line
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ portal.description }}' } } Description
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ portal.contact_email }}' } } Contact Email

    %li.dropdown-submenu
      %a{ href: "#" } Catalog Entries:
      %ul.dropdown-menu
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', start: '{{#updated_entries limit="5"}}', end: '{{/updated_entries}}' } } Recently updated
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', start: '{{#newest_entries limit="5"}}', end: '{{/newest_entries}}' } } Newest
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ title }}' } } Title
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ description }}' } } Description
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ url }}' } } URL
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ type }}' } } Type
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ start_date }}' } } Start date
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ end_date }}' } } End date
