.btn-group.btn-group-sm.dropdown
  = link_to '#', class: "btn btn-default dropdown-toggle", data: { submenu: true, toggle: "dropdown" } do
    View Helpers
    %b.caret
  %ul.dropdown-menu
    %li
      %a{ href: "#", type: 'button', data: { action: 'insert', start: '{{#pages}}', end: '{{/pages}}' } } Page List
    %li.dropdown-submenu
      %a{ href: "#" } Page:
      %ul.dropdown-menu
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ title }}' } } Title
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ slug }}' } } Slug
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ description }}' } } Description
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ created_at }}' } } Created At
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ updated_at }}' } } Updated At
    %li.dropdown-submenu
      %a{ href: "#" } Parent page:
      %ul.dropdown-menu
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ parent_page.title }}' } } Title
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ parent_page.slug }}' } } Slug
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ parent_page.description }}' } } Description
    %li.dropdown-submenu
      %a{ href: "#" } Root page:
      %ul.dropdown-menu
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ root_page.title }}' } } Title
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ root_page.slug }}' } } Slug
        %li
          %a{ href: "#", type: 'button', data: { action: 'insert', html: '{{ root_page.description }}' } } Description
