.btn-group.btn-group-sm
  %button.btn.btn-default{ type: 'button', title: 'Header 1', data: { action: 'insert', tag: 'h1' } } H1
  %button.btn.btn-default{ type: 'button', title: 'Header 2', data: { action: 'insert', tag: 'h2' } } H2
  %button.btn.btn-default{ type: 'button', title: 'Header 3', data: { action: 'insert', tag: 'h3' } } H3
  %button.btn.btn-default{ type: 'button', title: 'Header 4', data: { action: 'insert', tag: 'h4' } } H4
  %button.btn.btn-default{ type: 'button', title: 'Header 5', data: { action: 'insert', tag: 'h5' } } H5
  %button.btn.btn-default{ type: 'button', title: 'Paragraph', data: { action: 'insert', tag: 'p' } } P
  %button.btn.btn-default{ type: 'button', title: '<br/>', data: { action: 'insert', html: '<br/>' } } BR
.btn-group.btn-group-sm
  %button.btn.btn-default{ type: 'button', title: 'Bold', data: { action: 'insert', tag: 'b' } }
    %i.fa.fa-bold
  %button.btn.btn-default{ type: 'button', title: 'Italic', data: { action: 'insert', tag: 'i' } }
    %i.fa.fa-italic
.btn-group.btn-group-sm
  %button.btn.btn-default{ type: 'button', title: 'Unordered List', data: { action: 'insert', tag: 'ul' } }
    %i.fa.fa-list-ul
  %button.btn.btn-default{ type: 'button', title: 'Ordered List', data: { action: 'insert', tag: 'ol' } }
    %i.fa.fa-list-ol
  %button.btn.btn-default{ type: 'button', title: 'List Item', data: { action: 'insert', tag: 'li' } }
    %i.fa.fa-minus
-# .btn-group.btn-group-sm
-#   %button.btn.btn-default{ type: 'button', title: 'Link', data: { action: 'link' } }
-#     %i.fa.fa-link
-#   %button.btn.btn-default{ type: 'button', title: 'Attach Document', data: { action: 'picture' } }
-#     %i.fa.fa-picture-o
