#insert_image_chooser_modal.modal.hide.fade{tabindex:"-1", role:"dialog",style:"width:960px; margin-left:-480px;"}
  .modal-header
    %button.close{type:'button', data: { dismiss: 'modal' }} &times;
    %h3 Choose an Image
    .btn-group{style: "margin: 0;"}
      = form_tag list_images_manager_page_contents_path, method: 'GET', class: 'navbar-form form-search', remote: true do
        .input-prepend.input-append
          = text_field_tag 'search[q]', @search[:q], class: 'span12', placeholder: "Search"
          = submit_tag 'Search', class: 'btn btn-primary'
  .modal-body{ style: "padding: 10px 0;"}
    = render 'modal_image_list'
  .modal-footer
    %button.btn{data: { dismiss: 'modal' }} Close