- cache([:search_result, :v31, catalog]) do
  %div{id: dom_id(catalog, :record), data: { wkt: catalog.geometry_center_collection, type: catalog.type } }
    .row-fluid
      .span10
        %h5.title
          = catalog.title.try(:truncate,78)
          - if !catalog.published?
            %i.icon-warning-sign
          - unless catalog.geometry_collection.blank?
            %i.icon-globe
      .span2
        - if catalog.type == 'Project'
          .legend-tag.alert.alert-warning
            %b Project
        - else
          .legend-tag.alert.alert-info
            %b Data
    #catalog-published
      = render 'catalogs/ispublished', catalog: catalog
    .description
      - unless catalog.source_agency.nil?
        %b= catalog.source_agency.try(:name_with_acronym)
      :markdown
        #{catalog.description.try(:truncate, 300).try(:html_safe)}
