%h5 Collections
%ul.nav.nav-tabs.nav-stacked.collection-list
  -current_setup.collections.order('name ASC').each do |coll|
    %li{class: search_params[:collection_id].to_i == coll.id ? "active" : ""}
      = link_to "/search?search[collection_id]=#{coll.id}", data: {behaviour: "load_collection", target: "#search_collection_id", value: coll.id} do
        = coll.name
        .badge.pull-right
          = @collection_facets[coll.id] || 0
          results
          