%h5 Map Legend:

%div{ style: "margin-left: 50px;"}
  %i.icon-circle{style: "color: #c09853;"}
  = "- Projects"
  %br/

  %i.icon-circle{style: "color: #3a87ad;"}
  = "- Data"
  %br/

  %i.icon-circle{style: "color: red;"}
  = "- Selected Record"
  %br/

  %i.icon-stop{style: "color: #0f0;"}
  = "- Area of Interest"
  
%h5 Status Icons:
%div{ style: "margin-left: 50px;"}
  %i.icon-warning-sign &nbsp;Not Published
  %br/
  %i.icon-globe &nbsp;Has Location
