#map{ data: {                                       |
  openlayers: 'map_canvas',                         |
  projection: 'EPSG:3572',                          |
  displayProjection: 'EPSG:4326',                   |
  layers: ['TILE.EPSG:3572.*'] |
  }, |
  style: 'border: 1px solid #cfcfcf;' }
  .navbar.navbar-static-top
    .navbar-inner
      .pull-right
        = render 'pagetoolbar', results: @results, total: @total, page: @pagenum, limit: @limit, params: @search_params
      .btn-group
        = link_to '#', data: { action: 'zoomToMaxExtent' }, class: 'btn' do
          %i.icon-globe
      / .btn-group
      /   = link_to '#', data: { action: 'placeMarker' }, class: 'btn' do
      /     %i.icon-map-marker
      /   = link_to '#', data: { action: 'drawPolygon' }, class: 'btn' do
      /     %i.icon-pencil
  
      
    
  #map_canvas{ style: 'width:100%; height:350px;' }     