#map{ data: {                                       |
  openlayers: 'map_canvas',                         |
  projection: 'EPSG:3572',                          |
  displayProjection: 'EPSG:4326',                   |
  layers: ['TILE.EPSG:3572.*'],                   |
  spy: 'affix', 'offset-top' => 110 } }
  #map_canvas
  .navbar.navbar-static-top
    .navbar-inner
      .pull-right
        = render 'pagetoolbar', results: @results, total: @total, page: @pagenum, limit: @limit, params: @search_params
      .btn-group
        = link_to '#', data: { action: 'zoomToMaxExtent' }, class: 'btn' do
          %i.icon-globe
      / .btn-group
      /   = link_to '#', data: { action: 'placeMarker' }, class: 'btn' do
      /     %i.icon-map-marker
      /   = link_to '#', data: { action: 'drawPolygon' }, class: 'btn' do
      /     %i.icon-pencil
