#map{ data: {                                       |
  openlayers: 'map_canvas',                         |
  projection: 'EPSG:3572',                          |
  displayProjection: 'EPSG:4326',                   |
  layers: ['TILE.EPSG:3572.*'] } }
  #map_canvas{ style:'padding-bottom: 40px;' }
  .navbar.navbar-static-top
    .navbar-inner
      .pull-right.pagetoolbar
        = render 'pagetoolbar', results: @results, total: @total, page: @pagenum, limit: @limit, params: @search_params
      .btn-group
        %button.btn{ data: { "openlayers-action" => 'zoomToMaxExtent' }, title: 'Zoom to default extent' }
          %i.icon-globe
      .btn-group
        %button.btn{ data: { "openlayers-action" => 'expand', target: '.search', size: 'hidden' }, title: 'Toggle the map' }
          %i.icon-eye-close
        %button.btn{ data: { "openlayers-action" => 'expand', target: '.search', size: 'large' }, title: 'Make the map larger' }
          %i.icon-desktop
        %button.btn{ data: { "openlayers-action" => 'expand', target: '.search', size: 'fullscreen' }, title: 'Make the map fullscreen' }
          %i.icon-fullscreen
      / .btn-group
      /   = link_to '#', data: { action: 'placeMarker' }, class: 'btn' do
      /     %i.icon-map-marker
      /   = link_to '#', data: { action: 'drawPolygon' }, class: 'btn' do
      /     %i.icon-pencil
