// Place all the styles related to the catalog/entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.org-thumbnails {
  display: inline-block;

  .logo {
    width: 100px;
    height: 60px;
    text-align: center;
    padding: 5px 0px;
  }

  .title {
    text-align: center;
  }
}