.group
  .row-fluid
    .span8.title
      = link_to edit_manager_page_snippet_path(snippet), class: 'edit' do
        %i.icon-file
        = snippet.slug
    .span4.actions
      .btn-group
        = link_to edit_manager_page_snippet_path(snippet), class: 'btn' do
          %i.icon-edit    
        = link_to manager_page_snippet_path(snippet), method: 'DELETE', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do
          %i.icon-trash.icon-white        