%span.help-block
  %p
    <b>Pages</b> define each page of the web site and their relationships to each other.  The pages under the "All pages" header are considered "root" pages.  Any pages that are created under them are their children pages.
    %br/
    %br/
    Pages with the
    %i.fa.fa-gear
    icon are system pages and can not be deleted.  Pages with the
    %i.fa.fa-eye-slash
    icon are hidden and can not be seen on the public side of the web site.
  %p
    %h4 Side menu options:
    Use the "<b>Edit page</b>" button to edit a page.
    %br/
    Use the "<b>New page</b>" button to create a new page.
    %br/
    Use the "<b>Delete page</b>" button to remove a page (non system pages only).
    %br/
    Use the "<b>Attach image</b>" button to attach an image or other document to a page.
    %br/
    Use the "<b>Reorder pages</b>" button to change the order of the pages.
    %br/
    Use the "<b>Help</b>" button to show this popup.
