%span.help-block
  %p
    <b>Snippets</b> are small blocks of content that can be used in pages or layouts.  Snippets are convenient for content that is repeated on more than one page.
  %p
    Select the "<b>new snippet</b>" button above to create a new snippet.  Each snippet must have a unique name.
