%span.help-block
  %p
    <b>Themes</b> are a collection of CSS code that determine how pages using the theme will look.  Here you can define various CSS classes and rules to create a theme, or unique look, for the web site. Only one theme can be active at one time.
  %p
    Select the "<b>New theme</b>" button above to create a new theme.  Each theme must have a unique name.
