%p
  %br/
  Editor Menu:
  %br/

  .row
    .col-sm-4
      .btn-group.btn-group-xs
        %i.fa.fa-undo.btn.btn-default.btn-small{ title: 'Undo' }
        %i.fa.fa-repeat.btn.btn-default.btn-small{ title: 'Redo' }
    .col-sm-8
      Undo the last change and Redo the last undo.

  %br/
  .row
    .col-sm-12
      .btn-group.btn-group-xs
        .btn.btn-default.btn-small{ title: 'Header 1' }
          H1
        .btn.btn-default.btn-small{ title: 'Header 2' }
          H2
        .btn.btn-default.btn-small{ title: 'Header 3' }
          H3
        .btn.btn-default.btn-small{ title: 'Header 4' }
          H4
        .btn.btn-default.btn-small{ title: 'Header 5' }
          H5
        .btn.btn-default.btn-small{ title: 'Paragraph' }
          P
        .btn.btn-default.btn-small{ title: 'Line Break' }
          BR
  .row
    .col-sm-12
      %strong H1 - H5
      add text headings (1 large, 5 small)
      %br/
      %strong P
      add a paragraph
      %br/
      %strong BR
      add a line break

  %br/
  .row
    .col-sm-4
      .btn-group.btn-group-xs
        %i.fa.fa-bold.btn.btn-default.btn-small{ title: 'Bold' }
        %i.fa.fa-italic.btn.btn-default.btn-small{ title: 'Italic' }
    .col-sm-8
      Bold and Italicize text.

  %br/
  .row
    .col-sm-4
      .btn-group.btn-group-xs
        %i.fa.fa-list.btn.btn-default.btn-small{ title: 'Unordered List' }
        %i.fa.fa-list-ol.btn.btn-default.btn-small{ title: 'Ordered List' }
        %i.fa.fa-minus.btn.btn-default.btn-small{ title: 'List Item' }
    .col-sm-8
      add unordered lists and ordered lists, use the list item within the lists.

  %br/
  .row
    .col-sm-4
      .btn.btn-default.btn-xs
        View Helpers
        %b.caret
    .col-sm-8
      These helpers allow access to information from other pages, catalog records, and more.

  %br/
  .row
    .col-sm-4
      .btn-group.btn-group-xs
        %i.fa.fa-picture-o.btn.btn-default.btn-small{ title: 'Insert Picture' }
    .col-sm-8
      Insert a picture.
  .row
    .col-sm-4
      .btn-group.btn-group-xs
        %i.fa.fa-link.btn.btn-default.btn-small{ title: 'Link' }
    .col-sm-8
      Add a HTML link.
