%span.help-block
  %p
    <b>Attachments</b> are a variety of images or documents to be placed on or linked to on the web site.  Once uploaded they can be displayed or linked to in pages on the site.  The
    %i.fa.fa-link
    "<b>Permalink</b>" button displays the file with its full URL.  Copy the URL to link to the attachment.
  %p
    Select the "<b>New attachment</b>" button above to create a new attachment.  Note that each attachment must have a unique name.
