%span.help-block
  %p
    <b>Layouts</b> are what determines how the web site will be layed out, how it navigates, etc.  Here is how the basic look and feel for the web site is created using HTML.
  %p
    Select the "<b>New layout</b>" button above to create a new layout.  Each layout must have a unique name.
  %p
    Use the "<b>Set as default</b>" button to make a layout the default, any pages that do not specify a layout will use this one.  Only one layout at a time can be made the default.
