%span.help-block
  %p
    <b>Layouts</b> determine how the content of web site will be displayed, and ordered, how it navigates, etc.  Layouts identify the basic look and feel for the web site using HTML.
  %p
    Select the "<b>New layout</b>" button above to create a new layout.  Each layout must have a unique name.
  %p
    Use the "<b>Set as default</b>" button to make a layout the default. Any pages that do not specify a layout will use the default layout to determine the look and feel of the website.  Only one layout can be set as the default at a time.
