.navbar.navbar-static-top
  .navbar-inner
    %ul.nav
      %li
        = link_to manager_memberships_path do
          %i.icon-arrow-left
          Back
%h3= "Edit Membership for #{@membership.email}"
.row-fluid
  .span12
    = render 'form'