.bundle
*.swp
db/*.sqlite3
log/*.log
tmp/
.idea/
config/database.yml
config/sunspot.yml
db/sphinx
public/javascripts/cached
*.git
public/javascripts/extjs3/
public/javascripts/oldapp/
vendor/nssi-prod
vendor/cms/public/system
repos_tmp
