[submodule "vendor/plugins/open_id_authentication"]
	path = vendor/plugins/open_id_authentication
	url = git://github.com/rails/open_id_authentication.git
[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/Satish/restful-authentication.git
[submodule "app/assets/javascripts/gina-map-layers"]
	path = app/assets/javascripts/gina-map-layers
	url = git@github.com:gina-alaska/gina-map-layers.git
[submodule "app/assets/javascripts/extjs-openlayers"]
	path = app/assets/javascripts/extjs-openlayers
	url = git@github.com:gina-alaska/extjs-openlayers.git
