.bundle
*.swp
db/*.sqlite3
log/*.log
tmp/
.idea/
config/database.yml
config/sunspot.yml
public/javascripts/cached
*.git
public/javascripts/extjs3/
public/javascripts/oldapp/
public/assets
vendor/nssi-prod
vendor/cms/public/system
repos_tmp
solr
!solr/conf
log/solr*
log/sunspot*
tools/wkhtmltopdf
nssi-catalog-export*.xml
app/assets/images/icons/.DS_Store
archive/*.zip
archive/*.tar.gz
config/initializers/catalog.rb
repo_clones
db/data
/data
.powder
.DS_Store
*.pid
/uploads
.zeus.sock
