%h3.panel-title Data Types
- unless @facets.data_types.empty?
  .panel-body.panel-break
    %h3.panel-title Data Types
  #data-type-search.panel-body.expand{ style: 'padding-top: 5px; padding-bottom: 0px; '}
    - @facets.data_types.each do |facet|
      - data_type = facet[:record]
      %div
        %label{ style: 'width: 100%;' }
          = check_box_tag 'search[data_type_id]', data_type.id, @search_params.try(:[], 'data_type_id').to_i == 
          data_type.id
          = data_type.name
          %span.badge.badge-default= facet[:count]
  - if @facets.data_types.count > 3
    .panel-body{ style: 'padding-top: 0px; '}
      = link_to 'show more...', '#data-type-search', data: { toggle: 'expand', 'toggletext' => 'show less...' }
