- unless @facets.tags.empty?
  .panel-body.panel-break
    %h3.panel-title Tags
  #tag-search.panel-body.expand{ style: 'padding-top: 5px; padding-bottom: 0px; '}
    - @facets.tags.each do |facet|
      %div
        %label{ style: 'width: 100%;' }
          = check_box_tag 'search[tag_list][]', facet[:term], @search_params.try(:[], 'tag_list').try(:include?, facet[:term])
          = facet[:term]
          %span.badge.badge-default= facet[:count]
  - if @facets.tags.count > 3
    .panel-body{ style: 'padding-top: 0px; '}
      = link_to 'show more...', '#tag-search', data: { toggle: 'expand', 'toggletext' => 'show less...' }
