- if @catalog.require_contact_info?
  %br/
  - if @authorized
    .alert.alert-success
      %h4 Your download has been authorized
  - else
    .alert.alert-info
      %h4 Your contact information is required before the download can begin
    
- if @catalog.use_agreement
  %p.use_agreement
    :markdown
      #{@catalog.use_agreement.content}
- elsif @catalog.remote_download? and @authorized
  - if @catalog.download_urls.count > 1
    .alert.alert-info
      %h4 There are multiple files available for download, please select the packages you wish to download
  - else
    .alert.alert-info
      %h3 This data setup is not available locally
      %p You will automatically be redirected to the remote data location in 5 seconds...
      %p Use the button below you are not automatically redirected
      
      :javascript
        setTimeout(function() {
          location = "#{@catalog.download_urls.first.url}"
        }, 5000)
    

%div{ style: "margin-top: 10px;" }
  - if @catalog.request_contact_info? or @catalog.require_contact_info?
    %p
      = link_to next_catalog_download_path(@catalog, :use_agreement => true), method: :post, class: 'btn btn-primary btn-large btn-block' do
        Submit Contact Information
      
  - if @catalog.sds? and @authorized
    = render 'download_urls', download_urls: @catalog.download_urls