%ul.list-group
  - entry.activity_logs.updates.limit(10).each do |log|
    %li.list-group-item
      - if log.user.nil?
        .avatar{ title: 'System' }
          %i.fa.fa-cog
      - else
        = image_tag avatar_url(log.user, 30), class: 'avatar', title: log.user.fullname
      .content
        = log.log[:message]
      
      .timestamp
        = log.created_at
