.panel.panel-default
  .panel-heading
    %h1.panel-title Manager Menu
  .panel-body
    = link_to edit_manager_entry_path(entry), class: 'btn btn-default btn-block' do
      %i.fa.fa-edit
      Edit
    = button_tag class: 'btn btn-default btn-block', data: { toggle: 'modal', target: '#archive-modal' } do
      %i.fa.fa-archive
      Archive
    = link_to manager_entry_path(entry), method: :destroy, class: 'btn btn-danger btn-block', data: { confirm: 'Are you sure?' } do
      %i.fa.fa-trash
      Delete