- unless entry.tags.empty?
  %div{ style: 'border: 1px solid #dfdfdf; padding: 10px 10px 10px 10px' }
    - entry.tags.each do |tag|
      = link_to tag.name, "/search?search[q]=#{tag.name}", class: 'btn btn-default btn-sm tag'