.navbar.navbar-static-top
  .navbar-inner
    .brand Themes
    #not-sorting.pull-right.btn-group
      = link_to new_manager_theme_path, class: 'btn btn-success' do
        %i.icon-plus.icon-white
        New Themes
.row-fluid
  .span12
    .content
      .form-horizontal.control-group
        %label.control-label Active theme
        .controls
          = select_tag 'active_theme', options_from_collection_for_select(@available_themes, 'id', 'name', current_setup.theme.id)
          = link_to '#', class: 'btn' do
            Customize
            %i.icon-arrow-right
    
      = render 'manager/themes/form', theme: current_setup.theme