.container
  .panel.panel-default
    .panel-heading{ style: 'position: relative' }
      %ol.breadcrumb
        %li
          = link_to [:manager, :collections] do
            %i.fa.fa-sitemap
            Collections
        %li.active
          Edit #{@collection.name}

    .panel-body
      = render 'form', collection: @collection 
