.navbar.navbar-static-top
  .navbar-inner
    %ul.nav
      %li
        = link_to manager_collections_path do
          %i.icon-arrow-left
          Back
%h3 New Collection
.row-fluid
  .span12.content
    = render 'form', catalog_collection: @catalog_collection