= simple_form_for(@cms_layout) do |f|
  = f.input :name
  = f.input :content, label: false, input_html: { rows: 20, data: { behavior: 'woofmark-editor' } }
  .actions.text-right
    = f.button :submit, class: 'btn btn-default'

- content_for :help do
  %code {{{content}}}
  \-
  controls where content from the page will be shown
