#contact-modal{ class: 'modal fade' }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type:"button", data: { dismiss: "modal" } }
          &times;
        %h4.modal-title Contact
      .modal-body
        = render 'form', ajax: true, modal: true