.container
  .panel.panel-default
    .panel-heading{ style: 'position: relative' }
      %ol.breadcrumb
        %li
          = link_to [:catalog, :contacts] do
            %i.fa.fa-group
            Contacts
        %li.active
          Edit #{@contact.name}

    .panel-body
      %ul.nav.nav-tabs
        %li.active
          %a{ href: '#contact_form_fields', data: { toggle: 'tab' } } Contact Form
        %li
          %a{ href: '#record_list', data: { toggle: 'tab' } } Record List
  
      .tab-content{ style: 'margin-top: 5px;' }
        #contact_form_fields.tab-pane.active
          = render 'form', contact: @contact 
        #record_list.tab-pane
          %p List of catalog records that are linked to this contact.
          = render 'entries', contact: @contact