#archive-modal.modal.fade{ role: 'dialog', 'aria-hidden' => 'true' }
  .modal-dialog
    .modal-content
      = simple_form_for [:archive, :catalog, @entry] do |f| 
        .modal-header
          %button.close{ data: { dismiss: 'modal' }}
            %i.fa.fa-close
          %h4{ class: "modal-title" } Archive Catalog Record: #{@entry.title}
        .modal-body
          %p
            Add archival notes to the record, including reasons for archiving record, references to newer records, etc.
          .form-group
            = text_area_tag :message, params[:message], rows: 10, class: 'form-control', placeholder: 'Please enter the reason for archiving the catalog record'
        .modal-footer.text-right
          = f.button :submit, "Archive Record"
          