.row
  .col-sm-8
    %h4 Attachments
  .col-sm-2
    = link_to 'http://geojson.io', class: "btn btn-default btn-block", title: 'Go to geojson.io', target: '_blank' do
      %i.fa.fa-send
      Create GeoJSON
  .col-sm-2
    = f.link_to_add :attachments, :data => { :target => "#attachment_fields" }, class: "btn btn-info btn-block" do
      %i.fa.fa-plus
      Attach new file
%table.table.table-striped
  %thead
    %tr
      %th File
      %th Description
      %th Category
      %th.actions.text-right Actions
  %tbody#attachment_fields
    = f.fields_for :attachments, wrapper: false
