.row
  .col-sm-10
    = text_field_tag :contact_search, '', data: { name: 'contacts', target: '#add-selected-contact', behavior: 'typeahead', query: api_contacts_path + '?query=%QUERY'.html_safe }, placeholder: 'Search for contact to add', class: 'form-control pull-left'
  .col-sm-2
    = f.link_to_add :entry_contacts, :data => { :target => "#contact_fields" }, class: "btn btn-info btn-block disabled", id: 'add-selected-contact' do
      Add selected
      %i.fa.fa-arrow-right
%table.table.table-striped
  %thead
    %tr
      %th Contact
      %th Primary
      %th.actions.text-right Actions
  %tbody#contact_fields.form-inline
    = f.fields_for :entry_contacts, wrapper: false
