.row
  .col-sm-10
    %h4 Links
  .col-sm-2
    = f.link_to_add :links, :data => { :target => "#link_fields" }, class: "btn btn-info btn-block" do
      %i.fa.fa-plus
      Add new link
%table.table.table-striped
  %thead
    %tr
      %th Category
      %th Display Text
      %th URL
      %th Valid
      %th.actions.col-sm-1.text-right Actions
  %tbody#link_fields
    = f.fields_for :links, wrapper: false
