.map-container.small
  #map.entry-map{ data: { behavior: 'map', target: 'map', 'mapbox-id' => 'gina-alaska.knb7oi02', 'max-zoom' => 15, 'fit-all' => 'true', cluster: 'true' } }
    - entry.attachments.geojson.each do |geojson|
      %layer{ data: { name: geojson.file.name, url: catalog_entry_attachment_url(entry, geojson, format: :geojson), 'geojson-options' => 'custom-marker', 'marker-label-field' => 'index' }}
        %popup
          %h1
            = entry.title
          %p
            %label File:
            = geojson.file.name
          {{popup}}
    - entry.map_layers.each do |layer|
      %layer{ data: layer.leaflet_options }
