.container
  .panel.panel-default
    .panel-heading{ style: 'position: relative' }
      %ol.breadcrumb
        %li
          = link_to entries_path do
            %i.fa.fa-cubes
            Catalog Records
        %li
          = link_to truncate(@entry.title, length: 60), catalog_entry_path(@entry)
        %li.active
          Edit
    .panel-body.entry-form-container
      = render 'form', collection: @entry 
