.container
  .panel.panel-default
    .panel-heading{ style: 'position: relative' }
      %ol.breadcrumb
        %li
          = link_to [:catalog, :entries] do
            %i.fa.fa-sitemap
            Catalog Records
        %li.active
          New

    .panel-body.entry-form-container
      = render 'form', collection: @entry 
