/* Map related */
.layers-icon {
  background: url(/images/icons/geo/layers.png) center no-repeat;
}
.zoom-in-icon {
  background: url(/images/icons/geo/magnifier_zoom_in.png) center no-repeat;
}
.zoom-out-icon {
  background: url(/images/icons/geo/magnifier_zoom_out.png) center no-repeat;
}
.pan-icon {
  background: url(/images/icons/geo/pan.png) center no-repeat;
}
.aoi-icon {
  background: url(/images/icons/geo/shape_square_red.png) center no-repeat;
}
.region-icon {
  background: url(/images/icons/geo/map.png) center no-repeat;
}

/* Catalog item related */
.viewall-icon {
  background: url(/images/icons/small/application_view_list.png) center no-repeat;
}

.open-icon {
  background: url(/images/icons/small/report_go.png) center no-repeat;
}
.sort-icon {
  background: url(/images/icons/small/table_sort.png) center no-repeat;
}


/* Search related */
.cancel-icon {
  background: url(/images/icons/medium/x.png) center no-repeat;
}

.search-icon {
  background: url(/images/icons/medium/search.png) center no-repeat;
}

