.asset_wrap {
  border-bottom: 1px solid #DDD;
  margin: 0 5px 0 5px;
  padding: 5px 5px 5px 5px;
  font-size: 12px;

  label {
    font-weight: bold;
  }

  &.x-view-over {
    background-color: #BBDDFF;
  }

  &.x-view-selected {
    background-color: #AABBFF;
  }

  .title {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
  }

  .description {
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .detail {
    min-width: 80px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
  }

  .type {
  }
  .source {
  }
  .status {
  }
  .start {
  }
  .end {
  }
}

.search.x-small-editor {
  &.x-toolbar .xtb-text {
    font-size: 18px;
  }
  
  input.x-form-text {
    line-height: normal;
    height: 25px !important;
    font: normal 16px tahoma, arial, helvetica, sans-serif;
    font-weight: normal;
  }
  img.x-form-trigger {
    height: 30px;
    background-color: #DCDCDC;
  }
  .x-btn-large button {
    font: normal 16px tahoma, arial, helvetica, sans-serif;
  }
}

