/ .disclaimer
/   This website makes use of advanced visualization tools for the search and display of GIS information which may not be compliant with
/   = link_to 'ADA Section 508', "http://www.section508.gov", target:"_blank"
.row-fluid
  .span6
    %p 
      This site works best using Firefox, Chrome, IE9+ or Opera
      %br/
      &copy; 2013 Geographic Information Network of Alaska
    
  .span6.poweredby
    = link_to 'http://www.alaska.edu/epscor/' do
      = image_tag 'EPSCoR_logo_small.png'
    = link_to 'http://www.gina.alaska.edu' do
      = image_tag 'GINA_poweredby.png'