/ .disclaimer
/   This website makes use of advanced visualization tools for the search and display of GIS information which may not be compliant with
/   = link_to 'ADA Section 508', "http://www.section508.gov", target:"_blank"
.row-fluid
  .span8
    %p This site works best using Firefox, Chrome, IE9+  or Opera, <a href="http://catalog.northslope.org/cms/help/browser-requirements" target="_blank">more information here</a>
    %p 
      NSSI and UAF/GINA are members of the Alaska Data Integration Working Group
      %br/
      Catalog is developed in coordination with 
      = link_to 'ADIwg specifications', 'http://www.aoos.org/adiwg'
    
  .span4.poweredby
    = link_to 'http://www.gina.alaska.edu' do
      = image_tag 'GINA_poweredby.png'