%title
  = current_setup.title
= favicon_link_tag 'favicon.png', type: 'image/png'
%meta{ :name => 'description', :content => current_setup.description }
%meta{ :name => 'keywords', :content => current_setup.keywords }
%meta{ :name => 'author', :content => 'GINA' }
