.navbar.navbar-static-top
  .navbar-inner
    .brand Layouts
    = link_to new_manager_page_layout_path, class: 'btn btn-success pull-right' do
      %i.icon-plus.icon-white
      New Layout

.page-list
  .row-fluid.header
    .span9.title Title
    .span3.actions Actions
  - setup.layouts.each do |layout|
    =render 'manager/page_layouts/layout', layout: layout
