#map-layers-container
  %table{ id: 'map-layer-table', class: 'table table-striped table-condensed' }
    %thead
      %tr
        %th Record
        %th Description
        %th.text-right.col-sm-1 Action
    %tbody#entry_list{ data: { behavior: 'entry-refresh', target: '#entry_list' } }
      - map_layer.entry_map_layers.each do |eml|
        - entry = eml.entry
        %tr
          %td
            = link_to entry.title, entry_path(entry), title: 'Show Full Record'
          %td
            = entry.description
          %td.text-right
            .btn-group
              = link_to edit_catalog_entry_path(entry), class: 'btn btn-default btn-sm', title: 'Edit Record' do 
                %i.fa.fa-edit
              = link_to catalog_entry_path(entry, entry: { entry_map_layers_attributes: { id: eml.id, _destroy: true } }, commit: 'remove map layer'), method: :patch, remote: true, class: 'btn btn-danger btn-sm', title: 'Unlink Record' do 
                %i.fa.fa-times
