#map-layer-modal{ class: 'modal fade' }
  .modal-dialog
    .modal-content{ style: 'padding: 0px 10px 30px 10px;' }
      .modal-header
        %button.close{ type:"button", data: { dismiss: "modal" } }
          &times;
        %h3 Map Layer
      .modal-body
        = render 'form'
