#agency-images.clear-fix
  - [catalog.funding_agency, catalog.agencies].flatten.uniq.compact.each do |agency|
    - next unless agency.logo
    = image_tag agency.logo.thumb('x75').url, alt: agency.name, title: agency.name, style: 'display: inline; margin: 10px;'

