- agency_list = [catalog.funding_agency, catalog.agencies].flatten.uniq.compact - [catalog.source_agency]
- unless agency_list.empty?
  #agency-images.content{ style: 'border-bottom: 1px solid #efefef; min-width: 230px;' }
    %h5 Other agencies
    %ul.nav
      - agency_list.each do |agency|
        %li{ style: 'width: 40px; text-align: center; margin: 5px; display: inline-block;' }
          = image_tag agency.logo.thumb('40x40').url, alt: agency.name, title: agency.name if agency.logo
          %br/
          = agency.acronym

