- if user_signed_in?
  .btn-group{ id: dom_id(catalog, 'manage')}
    = render 'shared/catalogs/manage_button', catalog: catalog
- if catalog.downloadable?
  .btn-group
    = link_to catalog_downloads_path(catalog), class: 'btn', rel: "nofollow", remote: true do
      %i.icon-cloud-download
      - file_size = File.size(catalog.repo.default_archive_filename)
      = "Download (#{number_to_human_size(file_size)})"
