- unless catalog.map_layers.empty?
  .content{ style: 'min-width: 230px;' }
    %h5 Map Layers
    %table
      %thead
        %tr
          %th
            Type
          %th
            Name
          %th
            URL
          %th
            Projections
      %tbody
        - catalog.map_layers.each do |layer|
          %tr
            %td
              = layer.type
            %td
              = layer.name
            %td
              = layer.url
            %td
              - if layer.projections==""
                EPSG:3857, EPSG: 3338, EPSG: 3572
              -else
                = layer.projections
