- unless catalog.map_layers.empty?
  .content{ style: 'min-width: 230px;' }
    %h4 Map Layers
    %ul.nav
      - catalog.map_layers.each do |layer|
        %li{ style: 'margin-bottom: 2px;' }
          .row-fluid
            .span2
              - disabled = layer.supports?(current_setup.projection) ? '' : 'disabled'
              = link_to map_layer_path(layer, :json), class: "map_layer_btn btn btn-block #{disabled}", data: { openlayers_action: 'preview' }, title: 'Preview map layer' do
                %i.check.icon-check-empty
            .span10
              = layer.name
