%button.btn{ data: { "openlayers-action" => 'expand', target: '#record_map', size: 'hidden' , title: 'Toggle Map', content: "Turn the map on and off.", trigger: "hover", placement: "bottom", toggle: "popover", container: "#record_map" }}
  %i.icon-eye-close
%button.btn{ data: { "openlayers-action" => 'expand', target: '#record_map', size: 'small', title: 'Small Map', content: "Display small size map.", trigger: "hover", placement: "bottom", toggle: "popover", container: "#record_map" }}
  %i.icon-laptop
%button.btn{ data: { "openlayers-action" => 'expand', target: '#record_map', size: 'large', title: 'Large Map', content: "Display large size map.", trigger: "hover", placement: "bottom", toggle: "popover", container: "#record_map" }}
  %i.icon-desktop
