- if catalog.uploads.previews.size > 0
  #preview-images
    %h5 Record Previews
    - catalog.uploads.previews.each do |preview|
      .preview-image{ style: 'margin-bottom: 5px;' }
        = link_to preview.file.remote_url do
          = image_tag preview.file.thumb('300x300').url, alt: preview.name, title: preview.name

