- if catalog.source_agency
  .content.primary-agency{style: 'text-align: center; min-width: 230px; margin-top: 10px;' }
    = image_tag catalog.source_agency.logo.thumb('150x150').url, alt: catalog.source_agency.name, title: catalog.source_agency.name if catalog.source_agency.logo
    %h4= catalog.source_agency.name

