- unless catalog.tags.empty?
  %div{ style: 'border: 1px solid #dfdfdf; padding: 10px 10px 5px 10px' }
    - catalog.tags.each do |tag|
      = link_to tag.text, "/search?search[q]=#{tag.text}", class: 'btn tag'