.container
  .panel.panel-default
    .panel-heading{ style: 'position: relative' }
      %ol.breadcrumb
        %li
          = link_to [:manager, :use_agreements] do
            %i.fa.fa-pencil
            Use Agreements
        %li.active
          New

    .panel-body
      = render 'form', organization: @use_agreement 
