/* line 1, ../../app/assets/stylesheets/pdf.css.scss */
body {
  font-size: 14px;
  padding: 3px;
}

/* line 6, ../../app/assets/stylesheets/pdf.css.scss */
label {
  font-weight: bold;
}

/* line 10, ../../app/assets/stylesheets/pdf.css.scss */
.title {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 10px;
}

/* line 17, ../../app/assets/stylesheets/pdf.css.scss */
.tabbed {
  margin-left: 10px;
}

/* line 21, ../../app/assets/stylesheets/pdf.css.scss */
.spacer {
  height: 10px;
}
