/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../../app/stylesheets/partials/_notify.scss */
#notify-div {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 300px;
  z-index: 20000;
}
/* line 8, ../../app/stylesheets/partials/_notify.scss */
#notify-div .notify {
  border-radius: 8px;
  -moz-border-radius: 8px;
  background: #F6F6F6;
  border: 2px solid #ccc;
  margin-top: 2px;
  padding: 10px 15px;
  color: #555;
}
/* line 17, ../../app/stylesheets/partials/_notify.scss */
#notify-div .notify p {
  font-size: 16px;
  color: #000;
  text-align: center;
  margin: 0;
}
/* line 24, ../../app/stylesheets/partials/_notify.scss */
#notify-div .notify p.dismiss {
  font-size: 12px;
  font-weight: bold;
}

/*@import "extjs/center_layout";*/
/* line 1, ../../app/stylesheets/partials/_splash.scss */
#splash-header {
  background-color: #187B99;
  height: 75px;
}

/* line 6, ../../app/stylesheets/partials/_splash.scss */
#splash-header .text {
  font-weight: bold;
  font-size: 35px;
  color: white;
  float: left;
  vertical-align: top;
  margin: 15px 0 0 10px;
  text-align: left;
}

/* line 16, ../../app/stylesheets/partials/_splash.scss */
#splash-header .image {
  float: left;
  display: inline-block;
  background: #fff;
  padding: 5px;
}

/* line 23, ../../app/stylesheets/partials/_splash.scss */
#splash-content {
  clear: both;
  padding: 25px;
  font-size: 16px;
  text-align: center;
  z-index: 2;
}

/* line 31, ../../app/stylesheets/partials/_splash.scss */
#splash-content .buttons {
  margin-top: 25px;
}

/* line 35, ../../app/stylesheets/partials/_splash.scss */
#splash-footer .disclaimer {
  margin-top: 25px;
  padding: 5px;
  text-align: center;
  font-size: 16px;
}

/* line 42, ../../app/stylesheets/partials/_splash.scss */
#splash-footer .poweredby {
  font-size: 12px;
  margin-top: 5px;
}

/* line 47, ../../app/stylesheets/partials/_splash.scss */
#splash-content h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* line 54, ../../app/stylesheets/partials/_splash.scss */
#splash-content h1 {
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 10px;
}

/* line 64, ../../app/stylesheets/partials/_splash.scss */
#splash-window .x-btn-large .x-btn-text {
  font-size: 25px;
  padding: 0 30px;
}

/* line 69, ../../app/stylesheets/partials/_splash.scss */
.transparent-bg .x-panel-body {
  background: transparent !important;
}

/* line 1, ../../app/stylesheets/partials/_previews.scss */
.item_preview_instructions {
  text-align: center;
  padding: 15px;
  font-weight: bold;
}
/* line 6, ../../app/stylesheets/partials/_previews.scss */
.item_preview_instructions div {
  margin-bottom: 10px;
}

/* line 1, ../../app/stylesheets/partials/_search_results.scss */
.asset_wrap {
  margin: 0;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
}
/* line 7, ../../app/stylesheets/partials/_search_results.scss */
.asset_wrap.x-item-over {
  background-color: #BBDDFF;
}
/* line 11, ../../app/stylesheets/partials/_search_results.scss */
.asset_wrap.x-item-selected {
  background-color: #AABBFF;
}
/* line 15, ../../app/stylesheets/partials/_search_results.scss */
.asset_wrap .title {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
/* line 23, ../../app/stylesheets/partials/_search_results.scss */
.asset_wrap .description {
  margin-left: 10px;
  margin-bottom: 5px;
}
/* line 28, ../../app/stylesheets/partials/_search_results.scss */
.asset_wrap .detail label {
  font-weight: bold;
  margin-left: 10px;
}

/* line 46, ../../app/stylesheets/partials/_search_results.scss */
.quicksearch.x-toolbar .xtb-text {
  font-size: 18px;
}
/* line 50, ../../app/stylesheets/partials/_search_results.scss */
.quicksearch .default input {
  color: #555;
}
/* line 54, ../../app/stylesheets/partials/_search_results.scss */
.quicksearch div.x-form-item {
  margin-bottom: 0;
}
/* line 58, ../../app/stylesheets/partials/_search_results.scss */
.quicksearch input.x-form-text {
  line-height: normal;
  height: 32px !important;
  font: normal 18px tahoma, arial, helvetica, sans-serif;
  font-weight: normal;
}
/* line 65, ../../app/stylesheets/partials/_search_results.scss */
.quicksearch img.x-form-trigger {
  height: 25px;
  background-color: #DCDCDC;
}
/* line 70, ../../app/stylesheets/partials/_search_results.scss */
.quicksearch .x-btn-large button {
  font: normal 16px tahoma, arial, helvetica, sans-serif;
}

/* line 75, ../../app/stylesheets/partials/_search_results.scss */
.filterlist {
  font-size: 14px;
}
/* line 78, ../../app/stylesheets/partials/_search_results.scss */
.filterlist .filter_wrap {
  position: relative;
  display: block;
  min-height: 32px;
  clear: both;
}
/* line 84, ../../app/stylesheets/partials/_search_results.scss */
.filterlist .filter_wrap .desc {
  padding: 5px;
  margin-right: 32px;
}
/* line 89, ../../app/stylesheets/partials/_search_results.scss */
.filterlist .filter_wrap .remove {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 96, ../../app/stylesheets/partials/_search_results.scss */
.filterlist .filter_wrap .remove a {
  display: block;
  margin: auto;
  width: 32px;
  height: 100%;
  background: url(/images/icons/medium/x.png) center center no-repeat;
}
/* line 104, ../../app/stylesheets/partials/_search_results.scss */
.filterlist .filter_wrap .remove img {
  display: inline;
  height: 32px;
  margin: auto;
  position: relative;
  vertical-align: middle;
}
/* line 112, ../../app/stylesheets/partials/_search_results.scss */
.filterlist .filter_wrap.x-item-over {
  background-color: #BBDDFF;
}
/* line 116, ../../app/stylesheets/partials/_search_results.scss */
.filterlist .filter_wrap.x-item-selected {
  background-color: #AABBFF;
}

/* line 1, ../../app/stylesheets/partials/_projects.scss */
.project {
  padding: 3px;
}
/* line 4, ../../app/stylesheets/partials/_projects.scss */
.project label {
  font-weight: bold;
}
/* line 8, ../../app/stylesheets/partials/_projects.scss */
.project .title {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}
/* line 14, ../../app/stylesheets/partials/_projects.scss */
.project .tabbed {
  margin-left: 10px;
}
/* line 18, ../../app/stylesheets/partials/_projects.scss */
.project .spacer {
  height: 10px;
}

/* Map related */
/* line 2, ../../app/stylesheets/partials/_icons.scss */
.layers-icon {
  background: url(/images/icons/geo/layers.png) center no-repeat;
}

/* line 5, ../../app/stylesheets/partials/_icons.scss */
.zoom-in-icon {
  background: url(/images/icons/geo/magnifier_zoom_in.png) center no-repeat;
}

/* line 8, ../../app/stylesheets/partials/_icons.scss */
.zoom-out-icon {
  background: url(/images/icons/geo/magnifier_zoom_out.png) center no-repeat;
}

/* line 11, ../../app/stylesheets/partials/_icons.scss */
.pan-icon {
  background: url(/images/icons/geo/pan.png) center no-repeat;
}

/* line 14, ../../app/stylesheets/partials/_icons.scss */
.aoi-icon {
  background: url(/images/icons/geo/shape_square_red.png) center no-repeat;
}

/* line 17, ../../app/stylesheets/partials/_icons.scss */
.region-icon {
  background: url(/images/icons/geo/map.png) center no-repeat;
}

/* Catalog item related */
/* line 22, ../../app/stylesheets/partials/_icons.scss */
.viewall-icon {
  background: url(/images/icons/small/application_view_list.png) center no-repeat;
}

/* line 26, ../../app/stylesheets/partials/_icons.scss */
.open-icon {
  background: url(/images/icons/small/report_go.png) center no-repeat;
}

/* line 29, ../../app/stylesheets/partials/_icons.scss */
.sort-icon {
  background: url(/images/icons/small/table_sort.png) center no-repeat;
}

/* Search related */
/* line 35, ../../app/stylesheets/partials/_icons.scss */
.cancel-icon {
  background: url(/images/icons/medium/x.png) center no-repeat;
}

/* line 39, ../../app/stylesheets/partials/_icons.scss */
.search-icon {
  background: url(/images/icons/medium/search.png) center no-repeat;
}

/* line 16, ../../app/stylesheets/screen.scss */
body {
  font-family: "trebuchet ms", Verdana, Tahoma, Arial, Helvetica, san-serif;
}

/* line 20, ../../app/stylesheets/screen.scss */
#loading {
  padding: 5px;
}

/* line 24, ../../app/stylesheets/screen.scss */
#header {
  height: 80px;
  padding: 5px 0 0 0;
  color: #fff;
  background: #187b99;
  font-weight: bold;
  font-size: 14px;
}
/* line 32, ../../app/stylesheets/screen.scss */
#header #logo img {
  height: 70px;
  float: left;
  margin: 0 15px 0 5px;
}
/* line 38, ../../app/stylesheets/screen.scss */
#header h1 {
  margin-top: 8px;
  font-size: 30px;
}

/* line 44, ../../app/stylesheets/screen.scss */
div.main-toolbar {
  background: #187b99;
}

/* line 48, ../../app/stylesheets/screen.scss */
.default {
  color: #555;
}

/* line 53, ../../app/stylesheets/screen.scss */
.main-menu .x-btn {
  width: 100%;
}
/* line 57, ../../app/stylesheets/screen.scss */
.main-menu button .x-btn-inner {
  font-size: 14px;
  font-weight: bold;
  min-width: 90px;
  text-align: left;
}

/* line 66, ../../app/stylesheets/screen.scss */
.login-menu .welcome-panel .x-panel-body {
  background: none;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
/* line 75, ../../app/stylesheets/screen.scss */
.login-menu .x-btn {
  width: 100%;
  text-align: center;
}
/* line 80, ../../app/stylesheets/screen.scss */
.login-menu button .x-btn-inner {
  font-size: 14px;
  font-weight: bold;
  min-width: 90px;
  text-align: left;
}

/* line 88, ../../app/stylesheets/screen.scss */
.large-buttons .x-btn-text {
  font-size: 16px;
  line-height: 16px;
}

/* line 94, ../../app/stylesheets/screen.scss */
.x-toolbar-item .x-form-item {
  margin-right: 5px;
  margin-bottom: 0;
  display: inline;
  float: left;
}
/* line 100, ../../app/stylesheets/screen.scss */
.x-toolbar-item .x-btn {
  margin-right: 5px;
}

/* line 108, ../../app/stylesheets/screen.scss */
.loading-indicator {
  background: url("/images/loading.gif") no-repeat;
  padding: 0 20px;
}
