.col-sm-3
  .panel.panel-default
    .panel-heading{ style: 'position: relative' }
      %h4 Additional Information
    .panel-body
      %ul.nav.nav-pills
        %li.active
          = link_to 'Summary', '#summary', data: { toggle: 'pill' }
        %li
          = link_to 'Downloads', '#downloads', data: { toggle: 'pill' }
.col-sm-9
  .panel.panel-default
    .tab-content
      .tab-pane.active{ id: 'summary' }
        = render 'summary'
      .tab-pane{ id: 'downloads' }
        = render 'downloads'
