.panel.panel-default
  .panel-heading
    %h1.panel-title Editing theme :: #{@cms_theme.name}
  .panel-body
    = render 'form'
- content_for :sidebar_menu do
  .list-group
    = link_to new_cms_theme_path, class: 'list-group-item list-group-item-success' do
      %i.fa.fa-plus.fa-fw
      New theme
    = link_to cms_themes_path, class: 'list-group-item' do
      %i.fa.fa-arrow-left.fa-fw
      Back to themes list
