/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
  font-family: "trebuchet ms", Verdana, Tahoma, Arial, Helvetica, san-serif;
}

#header {
  height: 60px;
  padding: 10px 0 0 0;
  color: #fff;
  background-color: #187b99;
  font-weight: bold;
  font-size: 14px;

  #logo img {
    height: 50px;
    float: left;
    margin: 0 15px 0 5px;
  }

  h1 {
    font-size: 30px;
  }
}