.list-group.horizontal.clearfix
  = active_link_to manager_path, active: :inclusive, class: 'list-group-item' do
    %h4.list-group-item-heading Dashboard Summary
    %p.list-group-item-text
      Portal Overview
  = active_link_to downloads_manager_dashboard_index_path, active: :inclusive, class: 'list-group-item' do
    %h4.list-group-item-heading Download Logs
    %p.list-group-item-text
      Manage and View Logs
  / = active_link_to cms_snippets_path, active: :inclusive, class: 'list-group-item' do
  /   %h4.list-group-item-heading Snippets
  /   %p.list-group-item-text
  /     Manage snippets for pages
  / = active_link_to cms_themes_path, active: :inclusive, class: 'list-group-item' do
  /   %h4.list-group-item-heading Themes
  /   %p.list-group-item-text
  /     Setup portal themes
  / = active_link_to cms_attachments_path, active: :inclusive, class: 'list-group-item' do
  /   %h4.list-group-item-heading Attachments
  /   %p.list-group-item-text
  /     Upload document & images for pages
