.container
  .panel.panel-default
    .panel-heading{ style: 'position: relative' }
      .pull-right
        Edit
      %ol.breadcrumb
        %li
          = link_to [:manager, :contacts] do
            %i.fa.fa-group
            Contacts
        %li.active= @contact.name

    .panel-body
      = render 'form', contact: @contact 
