.panel.panel-default
  .panel-heading{ style: 'position: relative' }
    = link_to new_manager_contact_path, class: 'btn btn-sm btn-success panel-btn-right' do
      New Contact
      
    .panel-title
    %ol.breadcrumb
      %li.active
        %i.fa.fa-group
        Contacts
  
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Name
        %th Job Title
        %th Email
        %th Phone
        %th actions
    %tbody
      = render(partial: "contact_row", collection: @contacts, as: :contact) || "<tr><td colspan=\"5\">There are no contacts available</td></tr>".html_safe
