.container
  .panel.panel-default
    .panel-heading{ style: 'position: relative' }
      %ol.breadcrumb
        %li
          = link_to [:manager, :contacts] do
            %i.fa.fa-group
            Contacts
        %li.active
          New

    .panel-body
      = render 'form', contact: @contact 
