.container
  .panel.panel-default
    .panel-heading{ style: 'position: relative' }
      .pull-right
        New
      %ol.breadcrumb
        %li
          = link_to [:manager, :contacts] do
            %i.fa.fa-group
            Contacts

    .panel-body
      = render 'form', contact: @contact 
