%tr
  %td
    = user.name
  %td
    - Permission::AVAILABLE_ROLES.each do |role, description|
      %i{ class: "#{user.role?(role, current_portal) ? 'fa fa-check-square-o' : 'fa fa-square-o'}" }
      = "#{description}"
      %br/
