.container
  .panel.panel-default
    .panel-heading{ style: 'position: relative' }
      %ol.breadcrumb
        %li
          = link_to admin_portals_path do
            %i.fa.fa-sitemap
            Portals
        %li.active
          Edit #{@portal.title}

    .panel-body
      = render 'form', portal: @portal 
