.ace_editors.tab-content {
  overflow: visible;
}

.ace {
  border: 1px solid #dfdfdf;
  border-top: none;
  border-bottom: none;
  
  &.bordered {
    border-top: 1px solid #dfdfdf;
  }
  .editor {
    width:100%;
    height: 400px;
  }  
}

.image-list {
  li { margin: 2px; vertical-align: top; position: relative; }
  .thumbnail {
    width:150px;
    height: 200px;
    display: inline-block;
  }
  .image { position: relative; height: 100px; vertical-align: middle; }
  .info { height: 100px; position: relative; text-align: left; }
  
  .caption {
    padding: 0;
    height: 70px;
    overflow: auto;
  }
}
 
#image_chooser_modal {
  .modal-body {
    padding: 0;
    padding-left: 10px;
  }
  
  .nav-tabs {
    margin-top: 10px;
    margin-right: -1px;
  }
  
  .nav-tabs a {
  }
  
  .tab-content {
    padding: 0;
    border-right: none;
    border-bottom: none;
  }
  
  .tab-content ul {
    margin: 0;
  }
  
  #thumbnail-list {
    padding: 0 0 10px 0;
  }  
}