.container
  .panel.panel-default
    .panel-heading{ style: 'position: relative' }
      %ol.breadcrumb
        %li
          = link_to manager_portal_path do
            %i.fa.fa-cog
            Portal Settings
        %li.active
          Edit #{@portal.title}

    .panel-body
      = render 'form'
