.panel.panel-default
  .panel-heading{ style: 'position: relative' }
    = link_to edit_manager_portal_path, class: 'btn btn-sm btn-primary panel-btn-right' do
      Edit Portal
    %ol.breadcrumb
      %li.active
        %i.fa.fa-cog
        Portal Settings
  
  %dl.dl-horizontal
    %dt Title
    %dd=ddtext current_portal.title
    %dt Acronym
    %dd=ddtext current_portal.acronym
    %dt By line
    %dd=ddtext current_portal.by_line
    %dt Contact Email
    %dd=ddtext current_portal.contact_email
    //%dt Default Invite Text
    //%dd=ddtext current_portal.default_invite 
    %dt Google Analytics
    %dd=ddtext current_portal.analytics_account
    //%dt Use Recaptcha
    //%dd=ddtext current_portal.use_recaptcha==true ? "Yes" : "No"
    %dt Description
    %dd=ddtext current_portal.description
    %dt Keywords
    //%dd=ddtext current_portal.keywords
  %fieldset.content
    %legend Map Projections
    %dl.dl-horizontal
      //%dt Search
      //%dd=ddtext display_projection(current_portal.projection)
      //%dt Full Record
      //%dd=ddtext display_projection(current_portal.record_projection)
      //%dt Location Editor
      //%dd=ddtext display_projection(current_portal.location_projection)
      //%dt Use Google Layers
      //%dd=ddtext current_portal.google_layers==true ? "Yes" : "No"
  .span5
  %fieldset.content
    %legend Portal Favicon
    //- if current_portal.favicon.nil?
    //  No Favicon Uploaded
    //- else
    //  = image_tag current_portal.favicon.image.encode(:png).thumb('100x100').url unless current_portal.favicon.image.nil?
  %fieldset.content
    %legend Social settings
    %dl.dl-horizontal
      //%dt Facebook URL
      //%dd=ddtext current_portal.facebook_url
      //%dt GitHub URL
      //%dd=ddtext current_portal.github_url
      //%dt Google+ URL
      //%dd=ddtext current_portal.google_plus_url
      //%dt Instagram URL
      //%dd=ddtext current_portal.instagram_url
      //%dt Linkedin URL
      //%dd=ddtext current_portal.linkedin_url
      //%dt Tumblr URL
      //%dd=ddtext current_portal.tumblr_url
      //%dt Twitter URL
      //%dd=ddtext current_portal.twitter_url
      //%dt YouTube URL
      //%dd=ddtext current_portal.youtube_url
