%tr
  %td
    = data_type.name
  %td
    = data_type.description
  %td.text-right
    .btn-group
      = link_to edit_admin_data_type_path(data_type), class: 'btn btn-sm btn-primary', title: 'Edit' do
        %i.fa.fa-edit
      = link_to admin_data_type_path(data_type), data: { method: :delete, confirm: "Are you sure?" }, class: 'btn btn-sm btn-danger', title: 'Delete' do
        %i.fa.fa-trash-o
