.container
  .panel.panel-default
    .panel-heading{ style: 'position: relative' }
      %ol.breadcrumb
        %li
          = link_to [:admin, :data_types] do
            %i.fa.fa-folder-open
            Data types
        %li.active
          New

    .panel-body
      = render 'form', data_type: @data_type
