%h2 News, Announcements and Events
%p.lead
  %strong Nov. 29th, 2012
  Proactively visualize competitive outsourcing rather than inexpensive applications. Energistically repurpose cross functional information whereas multimedia based leadership skills. Phosfluorescently coordinate virtual metrics whereas sticky quality vectors. Dramatically impact viral mindshare for functional ROI. Objectively myocardinate backward-compatible supply chains whereas clicks-and-mortar functionalities. 