- extend_body ||= false
:scss
  .cms-page-content {
    #{current_portal.active_cms_theme.try(:css).try(:html_safe)}
  }
  #{'body { @extend .cms-page-content !optional; @extend .page !optional; }' if extend_body}
