.hero-unit{:style => "padding: 40px 50px; margin-top: 10px;"}
  .row-fluid
    .span9
      %h2 404 Not Found
      %p We are sorry but the page you are trying to access could not be found.  Please check the link and make sure it is correct.
      %p
        If this problem persists please contact
        %a{:href => "mailto:webmaster@gina.alaska.edu"} webmaster@gina.alaska.edu
      %p
        For the latest updates about our service status, please visit:
        %a{:href => "http://twitter.com/uafgina"} http://twitter.com/uafgina
      %p{:style => "margin-top:50px;"}
        %img{:src => "/assets/transparent_gina_logo.png"}/
    .span3
      %img{:src => "/assets/ninja.png"}/