.location.row-fluid.fields
  .span4= f.text_field :name, class: 'span12'
  .span6= f.text_field :wkt, class: 'span12'
  .span2.actions
    = f.hidden_field :id
    = link_to_remove_fields '<i class="icon-trash icon-white"></i>'.html_safe, f