- collapse ||= false
%dl.project
  %h4.title= project.title

  - if !project.published?
    .alert.alert-warning
      %h4 This project is pending review by the system moderators
      After a moderator has reviewed the project, it will become available for public viewing
  - if project.published? or current_user.is_an_admin?
    = render 'catalogs/status', item: project

  
    %dt Description
    %dd
      :markdown
        #{project.description}
    
    = render 'catalogs/collapsed_content', item: project, collapse: collapse