# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 208dcab87ee1339b7c7e5ee9dd70f3a6a77814f3e203f959f2207b07a870a9960f095a5c24d2f29d3829c5099e512f1a91adc1d453a5675988694493e533e7b7
  elasticsearch_host: <%= ENV["ELASTICSEARCH_HOST"] || '192.162.222.225' %>
  glynx2_api: <%= ENV["GLYNX2_API_HOST"] || 'http://glynx2-api.127.0.0.1.xip.io' %>
  gina_analytics: ''
  glynx_storage_path: <%= Rails.root.join('uploads') %>
  adiwg_host: 'localhost:9292'
test:
  secret_key_base: eca191458f7576c2b76a81dca3f81c0436a557f07d322130a4fa9020cd89b1961f851392440942f04721f2dd1499a81c8ab466489c06ab25de446e9e7dd3617f
  elasticsearch_host: <%= ENV["ELASTICSEARCH_HOST"] %>
  glynx2_api: <%= ENV["GLYNX2_API_HOST"] || 'http://glynx2-api.127.0.0.1.xip.io' %>
  gina_analytics: ''
  glynx_storage_path: <%= Rails.root.join('uploads') %>
  adiwg_host: 'localhost:9292'
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  elasticsearch_host: <%= ENV["ELASTICSEARCH_HOST"] %>
  glynx2_api: <%= ENV["GLYNX2_API_HOST"] || 'http://glynx2-api.127.0.0.1.xip.io' %>
  gina_analytics: 'UA-6824535-22'
  glynx_storage_path: /mnt/glynx_storage/glynx_uploads
  adiwg_host: 'localhost:9292'
