%tr
  %td= role.name
  %td= role.description
  %td.actions
    .btn-group
      = link_to edit_manager_role_path(role), class: 'btn', title: "Edit" do
        %i.icon-edit
      = link_to manager_role_path(role), method: :delete, class: 'btn btn-danger', confirm: 'Are you sure?', title: "Delete Role" do
        %i.icon-trash.icon-white