.navbar
  .navbar-inner
    .brand Roles
    .pull-right{style:"margin-bottom: 5px;"}
      = link_to new_admin_role_path, class: 'btn btn-success' do
        %i.icon-plus.icon-white
        Add role
= render 'roles', roles: @roles