#organization-modal{ class: 'modal fade' }
  .modal-dialog.modal-lg
    .modal-content{ style: 'padding: 0px 10px 30px 10px;' }
      .modal-header
        %button.close{ type:"button", data: { dismiss: "modal" } }
          &times;
        %h4.modal-title Organization
      .modal-body
        = render 'form', ajax: true, modal: true
