.container
  .panel.panel-default
    .panel-heading{ style: 'position: relative' }
      %ol.breadcrumb
        %li
          = link_to [:catalog, :organizations] do
            %i.fa.fa-university
            Organizations
        %li.active
          New

    .panel-body
      = render 'form', organization: @organization 
