- collapse ||= false
%dl.asset
  %h4.title= asset.title
  - if !asset.published?
    .alert.alert-warning
      %h4 This data record is pending review by the system moderators
      After a moderator has reviewed the project, it will become available for public viewing
  - if asset.published? or current_user.is_an_admin?
    = render 'catalogs/status', item: asset

    %dt Description
    %dd
      :markdown
        #{asset.description}
        
    = render 'catalogs/collapsed_content', item: asset, collapse: collapse