.navbar.navbar-static-top
  .navbar-inner
    %ul.nav
      %li
        = link_to admin_setups_path do
          %i.icon-arrow-left
          Back
%h2= "Edit Setup #{@setup.title}"
= render 'form', setup: @setup