#map{ data: { map: 'CatalogMap', target: '#map_canvas' } }
  #map_canvas{ style:'padding-bottom: 40px;', data: { projection: current_setup.projection, display_projection: "EPSG:4326", aoi_input_field: '#search_aoi', google: current_setup.google_layers.to_s, layers: ["TILE.#{current_setup.projection}.*"] } }
  .navbar.navbar-static-top
    .navbar-inner
      .pull-right.pagetoolbar
        = render 'pagetoolbar', results: @results, total: @total, page: @pagenum, limit: @limit, params: @search_params
      .btn-group
        %button.btn{ data: { "openlayers-action" => 'zoomToMaxExtent', title: 'Zoom To Extent', content: "Zoom to maximum default map extent.", trigger: "hover", placement: "bottom", toggle: "popover", container: "#map" }}
          %i.icon-globe
      .btn-group
        %button.btn{ data: { "openlayers-action" => 'drawAOI' , title: 'Select an area of interest', content: 'Click and drag on the map to select an area of interest', toggle: 'popover', trigger: 'hover', container: '#map',  placement: 'bottom' } }
          %i.icon-pencil
      .btn-group
        %button.btn{ data: { "openlayers-action" => 'expand', target: '.search', size: 'hidden' , title: 'Toggle Map', content: "Turn the map on and off.", trigger: "hover", placement: "bottom", toggle: "popover", container: "#map" }}
          %i.icon-eye-close
        %button.btn{ data: { "openlayers-action" => 'expand', target: '.search', size: 'large', title: 'Large Map', content: "Display large size map.", trigger: "hover", placement: "bottom", toggle: "popover", container: "#map" }}
          %i.icon-desktop
        %button.btn{ data: { "openlayers-action" => 'expand', target: '.search', size: 'fullscreen', title: 'Full Screen Map', content: "Display full screen map.", trigger: "hover", placement: "bottom", toggle: "popover", container: "#map" }}
          %i.icon-fullscreen
      / .btn-group
      /   = link_to '#', data: { action: 'placeMarker' }, class: 'btn' do
      /     %i.icon-map-marker
      /   = link_to '#', data: { action: 'drawPolygon' }, class: 'btn' do
      /     %i.icon-pencil