= "Geokeyword(s): "
- if !item.geokeywords.empty?
  = item.geokeywords.collect{|loc| loc.name}.join(", ") + "; "
- else
  ="none; "

= "Location(s): "
- if !item.locations.empty?
  = item.locations.collect{|loc| loc.name}.join(", ") + "; "
- else
  ="none"
