- parts = ["title", "agencies", "contacts", "info", "tags", "iso", "data", "location", "description", "links", "url", "collections"]
- results.each do |item|
  %p
    - parts.each do |part|
      = render partial: "report_#{part}", locals: {item: item}
      %br/
