- parts = ["title", "organizations", "contacts", "info", "tags", "iso", "data", "regions", "description", "links", "url", "collections"]
- @entries.each do |item|
  %p
    - parts.each do |part|
      - if check_export_visible_params(part)
        = render partial: "catalog/entry_exports/exports/#{part}", locals: {item: item}
        %br/
