= f.text_field :tag_list, data: { name: 'tag', target: 'select2-choice', url: tags_manager_entries_path }, id: 'select-two', label: 'Tags', class: 'col-sm-12'
= f.text_field :collections, data: { name: 'collection', target: 's2-collection-choice', url: collections_manager_entries_path }, id: 'select2-collection', label: 'Collections', class: 'col-sm-12'
