.panel.panel-default
  .panel-heading{ style: 'position: relative' }
    = link_to new_manager_entry_path, class: 'btn btn-sm btn-success panel-btn-right' do
      New Entry
    %ol.breadcrumb
      %li.active
        %i.fa.fa-cubes
        Entries
  
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th{ class: 'col-lg-2 col-md-2' } Title
        %th Status
        %th Start Year
        %th End Year
        %th Source Agency
        %th Editable?
        %th Published?
        %th DLs
        %th Actions

    %tbody
      = render(partial: "entry_row", collection: @entries, as: :entry) || "<tr><td colspan=\"9\">There are no entries available</td></tr>".html_safe
