.container
  .panel.panel-default
    .panel-heading{ style: 'position: relative' }
      %ol.breadcrumb
        %li
          = link_to [:manager, :entries] do
            %i.fa.fa-sitemap
            Entries
        %li.active
          New

    .panel-body
      = render 'form', collection: @entry 
