= link_to edit_manager_agency_path(item.id), class: 'btn', title: "Edit" do
  %i.icon-edit    
- if item.setups.include?(current_setup)
  = link_to hide_manager_agency_path(item.id), method: :post, class: 'btn btn-success', title: "Hide", remote: true do
    %i.icon-eye-open.icon-white  
- else
  = link_to visible_manager_agency_path(item.id), method: :post, class: 'btn btn-danger', title: "Show", remote: true do
    %i.icon-eye-close.icon-white    
