#insert_image_chooser_modal.modal.hide.fade{tabindex:"-1", role:"dialog",style:"width:960px; margin-left:-480px;"}
  .modal-header.form-inline
    %button.close{type:'button', data: { dismiss: 'modal' }} &times;
    %h3 Choose an Image
    = label_tag 'Find', nil, style: "font-weight: bold;"
    = text_field_tag :filter, "", title: "Filter Text"
    %button#clear-button.btn{ title: "Clear" }
      %i.icon-remove

    %i#filter-spinner.icon-spinner.icon-spin{ style: 'display: none;' }
  .modal-body{ style: "padding: 10px 0;"}
    = render 'modal_image_list'
  .modal-footer
    %button.btn{data: { dismiss: 'modal' }} Cancel

:javascript
  $(document).ready(function(){
    var timer;
    $("#filter").keyup(function() {
      if(timer){
        clearTimeout(timer);
      }
      var input = this
      timer = setTimeout(function(){filterImages(input)}, 200);
      $('#filter-spinner').show();
    });
  });

  var filterImages = function(input){
    var filterVal = $(input).val();
    var pattern = new RegExp(filterVal, "i");
    $("#insert_image_chooser_modal li #logo-text").each(function(i){
      var el = $(this).parent().parent().parent();

      if(pattern.test($(this)[0].innerText)) {
        setTimeout(function() { el.show(); },0);
      }
      else {
        setTimeout(function() { el.hide(); },0);
      }
    });
    $('#filter-spinner').hide();
  };

  $('#clear-button').click(function(){
    $("#filter").val("");
    filterImages("");
  });
