.navbar.navbar-static-top
  .navbar-inner
    %ul.nav
      %li
        = link_to manager_agencies_path do
          %i.icon-arrow-left
          Back
%h3= "Edit Agency #{@agency.name}"
.row-fluid
  .span12.content
    = render 'form', agency: @agency