.container
  .panel.panel-default
    .panel-heading{ style: 'position: relative' }
      %ol.breadcrumb
        %li
          = link_to [:manager, :agencies] do
            %i.fa.fa-university
            Agencies
        %li.active
          New

    .panel-body
      = render 'form', agency: @agency 
