#catalog-form {
  ul.nav-tabs {
    padding: 5px 0 0 5px;
    min-height: 600px;
    margin-right: 0;
    min-width: 150px;
    background: #fafafa;
  }
  
  .header { font-weight: bold; }
  
  .form-actions { margin: 0; }
    
  .tab-content .content { padding: 10px; }
}

.catalog-resources {
  .media > .icon {
    min-width: 50px; 
    font-size: 50px; 
    text-align:center;
    &.download { color: #555; }
    &.report { color: #E66C00; }
    &.website { color: #549FCB; }
    &.metadata { color: #2CAD59; }
  }
  
}

label {
  font-weight: bold;
}

.popover {
  z-index: 2000;
}

.search .search-results {
  margin-top: 10px;
  .dropdown-menu { text-align: left; }
  .result {
    position: relative;
    padding:5px;
    border-bottom: 1px solid #cfcfcf;
  }  
  .result:hover {
    background-color: #eee;
  }
  .result.highlight {
    background: #ffff99;
  }
    
  .title {
    margin: 0;
    margin-bottom: 5px;
  }
  
  .status, .description {
    margin-left: 10px;
  }
  
  .legend-tag {
    position: absolute;
    top:0;
    right: 0;
    border-top: none;
    border-right: none;
    padding: 3px 10px;
    text-align: center;
    @include border-radius(0px);
    @include border-bottom-left-radius(5px);
  }
}

.search.affix-top, .search.affix-bottom {
  .result-list { position: relative; }
  position: relative;
}

.search.affix {
  position: relative;
}

.search .result-list { position: relative; margin-top: 1px; }

.search {
  .search-form {
    background: #fff;
    position: absolute;
    padding: 10px 5px;
    top:0;
    bottom:0;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
  }
  &.affix {
    .search-form {
      position: fixed;
      top: 340px;
      bottom: 0;
    }
    .result-list {
      margin-top: 300px;
    }
  }
}

.form-horizontal #advanced {
  .control-group {
    margin-bottom: 5px;
  }
}

.collection-list .active a {
  background-color: #2775CB;
  color:#fff;
  
}


#flashes {
  position: fixed;
  top: 5px;
  right: 5px;
  min-width: 300px;
  z-index: 3000000;
}

.list-group {
  margin: 0;
//  margin-top: 5px;
  
//  .list-group-item:first-child {
//    border-top-right-radius: 4px;
//    border-top-left-radius: 4px;
//  }
//  
//  .list-group-item:last-child {
//    border-bottom-right-radius: 4px;
//    border-bottom-left-radius: 4px;
//  }
  
  .list-group-item {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: -1px;
    background-color: #fff;
//    border: 1px solid #ddd;
  }
  
  .list-group-item .header {
    background-color: #efefef;
    text-align: right;
  }
  .list-group-item div.avatar {
    position: absolute;
    top: 1px;
    left: 1px;
    font-size: 28px;
  }
  .list-group-item img.avatar {
    position: absolute;
    top: 0;
    left: 0;
  }
  .list-group-item > div {
    padding: 5px;
  }
  
}

dl.contact-info {
  margin: 0;
  dt {
    width: 100px;
  }
  dd {
    margin-left: 110px;
  }
}