.fulliframe {
  width:100%;
  height: 100%;
  border: none;
}

.info .x-panel-body {
  font-size: 20px;
  text-align: center;
}

.olControlAttribution {
  position: relative;
  bottom: 0em;
  right: 0em;
  padding: 3px;
  color: #000;
  background-color: #FFF;
  background-color: transparentize(#FFF, 0.75);
}

.olControlLayerSwitcher {
  font-size: 12px;
  width: 250px;
  top: 50px;
  
  .maximizeDiv {
    top: 5px;
  }
  
  .baseLayersDiv {
    white-space: nowrap;
  }
  .dataLayersDiv {
    white-space: nowrap;
  }
}


.olControlPanel {
  right: 20px;
  top: 0;
  
  div {
    display: block;
    float: right;
    width: 28px;
    height: 28px;
    margin: 5px;
    background-color:#fff;
  }

  $tool-bg-color-inactive: #FFF;
  $tool-bg-color-active: #FF0;
  $tool-bg-opacity-active: 0.25;
  $tool-bg-opacity-inactive: 0.25;
  
  .olControlSelectFeatureItemActive {
    @include border-radius(2px);
    background: url(/images/geo/pointer-info.png) no-repeat 2px 2px;
    background-color: $tool-bg-color-active;
    background-color: transparentize($tool-bg-color-active, $tool-bg-opacity-active);
  }
  .olControlSelectFeatureItemInactive {
    @include border-radius(2px);
    background: url(/images/geo/pointer-info.png) no-repeat 2px 2px;
    background-color: $tool-bg-color-inactive;
    background-color: transparentize($tool-bg-color-inactive, $tool-bg-opacity-inactive);
  }
  .olControlDrawFeatureItemActive {
    @include border-radius(2px);
    background: url(icons/geo/shape_square_red.png) center no-repeat;
    background-color: $tool-bg-color-active;
    background-color: transparentize($tool-bg-color-active, $tool-bg-opacity-active);
  }
  .olControlDrawFeatureItemInactive {
    @include border-radius(2px);
    background: url(icons/geo/shape_square_red.png) center no-repeat;
    background-color: $tool-bg-color-inactive;
    background-color: transparentize($tool-bg-color-inactive, $tool-bg-opacity-inactive);
  }
  .olControlDragPanItemActive {
    @include border-radius(2px);
    background: url(icons/geo/pan.png) center no-repeat;
    background-color: $tool-bg-color-active;
    background-color: transparentize($tool-bg-color-active, $tool-bg-opacity-active);
  }
  .olControlDragPanItemInactive {
    @include border-radius(2px);
    background: url(icons/geo/pan.png) center no-repeat;
    background-color: $tool-bg-color-inactive;
    background-color: transparentize($tool-bg-color-inactive, $tool-bg-opacity-inactive);
  }
  .zoomInBoxItemInactive {
    @include border-radius(2px);
    background: url(icons/geo/magnifier_zoom_in.png) center no-repeat;
    background-color: $tool-bg-color-inactive;
    background-color: transparentize($tool-bg-color-inactive, $tool-bg-opacity-inactive);
  }
  .zoomInBoxItemActive {
    @include border-radius(2px);
    background: url(icons/geo/magnifier_zoom_in.png) center no-repeat;
    background-color: $tool-bg-color-active;
    background-color: transparentize($tool-bg-color-active, $tool-bg-opacity-active);
  }
  .zoomOutBoxItemInactive {
    @include border-radius(2px);
    background: url(icons/geo/magnifier_zoom_out.png) center no-repeat;
    background-color: $tool-bg-color-inactive;
    background-color: transparentize($tool-bg-color-inactive, $tool-bg-opacity-inactive);
  }
  .zoomOutBoxItemActive {
    @include border-radius(2px);
    background: url(icons/geo/magnifier_zoom_out.png) center no-repeat;
    background-color: $tool-bg-color-active;
    background-color: transparentize($tool-bg-color-active, $tool-bg-opacity-active);
  }
}