.search table.results {
  td {
    padding:0;
  }  
  
  .title {
    margin: 0;
    margin-bottom: 5px;
  }
  
  .result {
    padding: 5px 5px 35px 5px;
    position: relative;
  }
  
  .result:hover {
    background-color: #eee;
  }
  
  .status, .description {
    margin-left: 10px;
  }
  
  .highlight {
    background: #ffff99;
  }
  
  .legend-tag {
    position: absolute;
    top:0;
    right: 0;
    border-top: none;
    border-right: none;
    padding: 3px 10px;
    text-align: center;
    @include border-radius(0px);
    @include border-bottom-left-radius(5px);
  }
}

.search.affix-top {
  .result-list { position: relative; }
  position: relative;
}

.search.affix {
  position: relative;
}
.search .result-list { position: relative; margin-top: 10px; }

.search {
  .search-form {
    background: #fff;
    position: absolute;
    padding: 0 10px 10px 5px;
    top:0;
    bottom:0;
    width: 300px;
    overflow: auto;
  }
  &.affix {
    .search-form {
      position: fixed;
      top: 310px;
      bottom: 0;
      padding-right: 3px;      
    }
    .result-list {
      margin-top: 310px;
    }
  }
}

.form-horizontal #advanced {
  .control-group {
    margin-bottom: 5px;
  }
}

.collection-list .active a {
  background-color: #2775CB;
  color:#fff;
  
}