.search {
  .result {
    border: 1px solid #CFCFCF;
    background-color: #EFEFEF;
    @include border-radius(5px);
    margin-bottom: 10px;

    .content {
      padding: 5px 10px;
    }
    
    .pointer {
      cursor: pointer;
    }
    
    .buttons {
      padding: 5px;
      text-align: right;
      border-top: 1px solid #CFCFCF;
    }
  }
}