.search table.results {
  td {
    padding:0;
  }  
  
  .title {
    margin: 0;
    margin-bottom: 5px;
  }
  
  .result {
    padding: 5px 5px 35px 5px;
    position: relative;
  }
  
  .result:hover {
    background-color: #eee;
    @include transition-property(background);
    @include transition-duration(0s);
  }
  
  .status, .description {
    margin-left: 10px;
  }
  
  .highlight {
    background: #ffff99;
  }
  
  .legend-tag {
    position: absolute;
    top:0;
    right: 0;
    border-top: none;
    border-right: none;
    padding: 3px 10px;
    text-align: center;
    @include border-radius(0px);
    @include border-bottom-left-radius(5px);
  }
}

.form-horizontal #advanced {
  .control-group {
    margin-bottom: 5px;
  }
}

.collection-list .active a {
  background-color: #2775CB;
  color:#fff;
  
}