/* Map related */
.layers-icon {
  background: url(icons/geo/layers.png) center no-repeat;
}
.zoom-in-icon {
  background: url(icons/geo/magnifier_zoom_in.png) center no-repeat;
}
.zoom-out-icon {
  background: url(icons/geo/magnifier_zoom_out.png) center no-repeat;
}
.pan-icon {
  background: url(icons/geo/pan.png) center no-repeat;
}
.aoi-icon {
  background: url(icons/geo/shape_square_red.png) center no-repeat;
}
.region-icon {
  background: url(icons/geo/map.png) center no-repeat;
}
.point-icon {
  background: url(icons/geo/bullet_red.png) center no-repeat;
}
.polygon-icon {
  background: url(icons/geo/shape_square_red.png) center no-repeat;
}

/* Catalog item related */
.viewall-icon {
  background: url(icons/small/application_view_list.png) center no-repeat;
}

.open-icon {
  background: url(icons/small/report_go.png) center no-repeat;
}
.sort-icon {
  background: url(icons/small/table_sort.png) center no-repeat;
}

.download-icon {
  background: url(icons/small/download.png) center no-repeat;
}

.contact-icon {
  background: url(icons/small/user.png) center no-repeat;
}
.agency-icon {
  background: url(icons/small/agency.png) center no-repeat;
}
.data-icon {
  background: url(icons/small/db.png) center no-repeat;
}
.status-icon {
  background: url(icons/small/flag.png) center no-repeat;
}
.source-icon {
  background: url(icons/small/application_view_list.png) center no-repeat;
}
.calendar-icon {
  background: url(icons/small/today.png) center no-repeat;
}
.filter-icon {
  background: url(icons/small/filter.png) center no-repeat;
}
.small-cancel-icon {
  background: url(icons/small/cancel.png) center no-repeat;
}
.help-icon {
  background: url(icons/small/help.png) center no-repeat;
}

/* Search related */
.cancel-icon {
  background: url(icons/medium/x.png) center no-repeat;
}

.search-icon {
  background: url(icons/medium/search.png) center no-repeat;
}

.new-icon {
  background: url(icons/medium/add-item.png) center no-repeat;
}

/* nav bar icons */
@import 'icons/navigation/*.png';

.x-btn {
  @include all-navigation-sprites;
}
