#notify-div {
  position:absolute;
  right:5px;
  top:5px;
  width:300px;
  z-index:20000;

  .notify {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
  }
  .notify p {
    font-size: 16px;
    color: #000;
    text-align:center;
    margin: 0;
  }

  .notify p.dismiss {
    font-size: 12px;
    font-weight: bold;
  }
}