.project {
  padding: 3px;

  label {
    font-weight: bold;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
  }

  .tabbed {
    margin-left: 10px;
  }

  .spacer {
    height: 10px;
  }
  
  .description p {
    margin-bottom: 1em;
  }
}