.asset_wrap {
  //border-bottom: 1px solid #DDD;
  margin: 0;
  padding: 5px 5px 5px 5px;
  font-size: 12px;

  &.x-item-over {
    background-color: #BBDDFF;
  }

  &.x-item-selected {
    background-color: #AABBFF;
  }

  .title {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
  }

  .description {
    margin-left: 10px;
    margin-bottom: 5px;
  }

  .detail label {
    font-weight: bold;
    margin-left: 10px;
  }

  .type {
  }
  .source {
  }
  .status {
  }
  .start {
  }
  .end {
  }
}

table.quicksearch {
  top: 0 !important;  
}
.quicksearch {
  
  &.x-toolbar .xtb-text {
    font-size: 18px;
  }

  .default input {
    color: #555;
  }

  div.x-form-item {
    margin-bottom: 0;
  }
  
  input.x-form-text {
    border-radius: 2px;
    line-height: normal;
    height: 36px !important;
    font: normal 18px tahoma, arial, helvetica, sans-serif;
    font-weight: normal;
  }

  img.x-form-trigger {
    height: 25px;
    background-color: #DCDCDC;
  }
  
  .x-btn-large button {
    font: normal 16px tahoma, arial, helvetica, sans-serif;
  }
}

.filterlist {
  font-size: 14px;
  
  .filter_wrap {
    position: relative;
    display:block;
    min-height: 32px;
    clear: both;

    .desc {
      padding: 5px;
      margin-right: 32px;
    }

    .remove {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }

    .remove a {
      display:block;
      margin: auto;
      width: 32px;
      height: 100%;
      background: url(icons/medium/x.png) center center no-repeat;
    }

    .remove img {
      display:inline;
      height: 32px;
      margin: auto;
      position: relative;
      vertical-align: middle;
    }

    &.x-item-over {
      background-color: #BBDDFF;
    }

    &.x-item-selected {
      background-color: #AABBFF;
    }
  }
}

