#splash-header {
  background-color: #187B99;
  height: 75px;
}

#splash-header .text {
  font-weight: bold;
  font-size: 35px;
  color: white;
  float:left;
  vertical-align: top;
  margin: 15px 0 0 10px;
  text-align: left;
}

#splash-header .image {
  float: left;
  display: inline-block;
  background: #fff;
  padding: 5px;
}

#splash-content {
  clear:both;
  padding: 0;
  font-size: 16px;
  text-align: center;
  z-index: 2;
}

#splash-content .buttons {
  margin-top: 25px;
}

#splash-footer .disclaimer {
  margin-top: 25px;
  padding: 5px;
  text-align: center;
  font-size: 16px;
}

#splash-footer .poweredby {
  font-size: 12px;
  margin-top: 5px;
}

#splash-content h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

#splash-content h1 {
  font-size: 30px;
  text-decoration:underline;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5px;
}

#splash-window {
}

#splash-window .x-btn-large .x-btn-text {
  font-size: 25px;
  padding: 0 30px;
}

.transparent-bg .x-panel-body {
  background:transparent !important;
}
