@import "compass";

$primaryColor: lighten(#135a6d, 30%);
$primaryColor: #006C8D;
$contrastColor: contrast-color($primaryColor, #1F1F1F, #DFDFDF);
$smallColor: contrast-color($primaryColor, #333, #999);

@import "bootstrap";
@import "font-awesome";
@import "fileupload/bootstrap-fileupload";
@import 'select2/select2';
@import 'select2-fixes';
@import 'manager/header';
@import 'manager/page_list';
@import 'admin/setups';
@import 'user_toolbar';
