/*
 *= require_self
 */

@import "compass/css3";
@import "_notify.css.scss";
@import "_splash.css.scss";
@import "_previews.css.scss";
@import "_search_results.css.scss";
@import "_catalog.css.scss";
@import "_projects.css.scss";
@import "_icons.css.scss";

body {
  font-family: "trebuchet ms", Verdana, Tahoma, Arial, Helvetica, san-serif;
}

#loading {
  padding: 5px;
}

#header {
  height: 80px;
  padding: 5px 0 0 0;
  color: #fff;
  background: #187b99;
  font-weight: bold;
  font-size: 14px;

  #logo img {
    height: 70px;
    float: left;
    margin: 0 15px 0 5px;
  }

  h1 {
    margin-top: 8px;
    font-size: 30px;
  }
}

div.main-toolbar {
  background: #187b99;
}

.default input {
  color: #555;
}

.main-menu {
  .x-btn {
    width: 100%;
  }

  button .x-btn-inner {
    font-size: 14px;
    font-weight: bold;
    min-width: 90px;
    text-align: left;
  }
}

.login-menu {
  .welcome-panel .x-panel-body {
    background: none;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-align:center;
  }

  .x-btn {
    width: 100%;
    text-align: center;
  }

  button .x-btn-inner {
    font-size: 14px;
    font-weight: bold;
    min-width: 90px;
    text-align: left;
  }
}

.large-buttons .x-btn-text {
  font-size: 16px;
  line-height: 16px;
}

.x-toolbar-item {
  .x-form-item {
    margin-right: 5px;
    margin-bottom: 0;
    display: inline;
    float: left;
  }
  .x-btn {
    margin-right: 5px;
  }

  .x-form-item label {
  }
}

.loading-indicator {
  background: url('loading.gif') no-repeat;
  padding: 0 20px;
}