@import "compass";

/*$primaryColor: #135a6d;
/*$primaryColor: #357;*/

/*$navbarInverseBackground: $primaryColor;
$navbarInverseBackgroundHighlight: lighten($primaryColor, 10%);
$navbarInverseContrastColor: contrast-color($primaryColor, #1F1F1F, #DFDFDF);
$navbarInverseLinkColor: $navbarInverseContrastColor;
$navbarInverseLinkColorHover: darken($navbarInverseContrastColor, 10%);
$navbarInverseLinkBackgroundHover: darken($primaryColor, 10%);
$navbarInverseSearchBackground: #FFF;

$navbarLinkColor: #3f3f3f;
$navbarLinkColorHover: darken($navbarLinkColor, 10%);
$navbarBackground: #EFEFEF;
$navbarBackgroundHighlight: lighten($navbarBackground, 10%);
$navbarLinkBackgroundHover: darken($navbarBackground, 10%);*/

@import "bootstrap";
@import "font-awesome";
@import "fileupload/bootstrap-fileupload";
@import "catalogs";
@import "catalog_collection";
@import 'select2/select2';
@import 'bootstrap-datepicker';
@import 'pages';
@import 'maps';
@import url(http://fonts.googleapis.com/css?family=Quando);

.content { padding: 0 10px; }
a.goto-top { 
  position: fixed; bottom: 10px; right: 10px;
  padding: 25px;
  border: 1px solid #000;
  background-color: rgba(0,0,0, 0.8);
  color: white;
  @include border-radius(10px);
}

.nav .dropdown-toggle .caret {
  border-top-color: #000;
  border-bottom-color: #000;
  margin-top: 8px;
}