@import "compass";
@import "bootstrap";
@import "font-awesome";
@import "fileupload/bootstrap-fileupload";
@import "catalogs";
@import "catalog_collection";
@import 'select2/select2';
@import 'bootstrap-datepicker';
@import 'pages';
@import 'maps';
@import 'tumblr';
@import 'select2-fixes';
@import 'forms';
@import 'user_toolbar';

@import url(http://fonts.googleapis.com/css?family=Quando);

body, html {
  position: relative;
}

.modal-backdrop {
  z-index: 1100;
}
.modal {
  z-index: 1101;
}

.content { padding: 0 10px; }
a.goto-top { 
  position: fixed; bottom: 10px; right: 10px;
  padding: 25px;
  border: 1px solid #000;
  background-color: rgba(0,0,0, 0.8);
  color: white;
  @include border-radius(10px);
}

.nav .dropdown-toggle .caret {
  border-top-color: #000;
  border-bottom-color: #000;
  margin-top: 8px;
}

.spinner-container {
  position: fixed;
  top: 0px;
  width: 100%;  
  z-index: 2000000;
}

#search {
  .result-list { min-height: 500px; }
  margin-bottom: 5px;

}

.search table.results .result {
  padding-bottom:0px; 
}
