@import "compass";

/*$primaryColor: #135a6d;
/*$primaryColor: #357;*/

/*$navbarInverseBackground: $primaryColor;
$navbarInverseBackgroundHighlight: lighten($primaryColor, 10%);
$navbarInverseContrastColor: contrast-color($primaryColor, #1F1F1F, #DFDFDF);
$navbarInverseLinkColor: $navbarInverseContrastColor;
$navbarInverseLinkColorHover: darken($navbarInverseContrastColor, 10%);
$navbarInverseLinkBackgroundHover: darken($primaryColor, 10%);
$navbarInverseSearchBackground: #FFF;

$navbarLinkColor: #3f3f3f;
$navbarLinkColorHover: darken($navbarLinkColor, 10%);
$navbarBackground: #EFEFEF;
$navbarBackgroundHighlight: lighten($navbarBackground, 10%);
$navbarLinkBackgroundHover: darken($navbarBackground, 10%);*/

@import "bootstrap";
//@import "bootstrap_and_overrides";
@import "font-awesome";
@import "fileupload/bootstrap-fileupload";
@import "catalogs";
@import "catalog_collection";
@import 'select2/select2';
@import 'bootstrap-datepicker';
@import 'pages';
@import 'maps';
@import 'select2-fixes';
@import 'introjs.min';

@import url(http://fonts.googleapis.com/css?family=Quando);

body, html {
  position: relative;
}

#sitemanager_toolbar {
  width: 100%;
  float: left;
  position: relative;
  z-index: 5000;
  
  .navbar-inner {
    padding-left: 0;
    padding-right: 0;
  }
  
  .hide-buttons {
    margin:0;
    a {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  &.hidden {
    position: absolute;
  }
  
  &.left {
    position: absolute;
  }
}

.content { padding: 0 10px; }
a.goto-top { 
  position: fixed; bottom: 10px; right: 10px;
  padding: 25px;
  border: 1px solid #000;
  background-color: rgba(0,0,0, 0.8);
  color: white;
  @include border-radius(10px);
}

.nav .dropdown-toggle .caret {
  border-top-color: #000;
  border-bottom-color: #000;
  margin-top: 8px;
}

.spinner-container {
  position: fixed;
  top: 0px;
  width: 100%;  
  z-index: 2000000;
}

.navbar .nav li.avatar > a {
  padding: 0px 10px 0px;
  .caret {
    margin-top: 15px;
  }
}

#search {
  .result-list { min-height: 500px; }
  margin-bottom: 5px;

}

.search table.results .result {
  padding-bottom:0px; 
}