@import "compass";

$primaryColor: #135a6d;

$navbarInverseBackground: $primaryColor;
$navbarInverseBackgroundHighlight: lighten($primaryColor, 10%);
$navbarInverseContrastColor: contrast-color($primaryColor, #1F1F1F, #DFDFDF);
$navbarInverseLinkColor: $navbarInverseContrastColor;
$navbarInverseLinkColorHover: darken($navbarInverseContrastColor, 10%);
$navbarInverseLinkBackgroundHover: darken($primaryColor, 10%);
$navbarInverseSearchBackground: #FFF;

$navbarLinkColor: #3f3f3f;
$navbarLinkColorHover: darken($navbarLinkColor, 10%);
$navbarBackground: #EFEFEF;
$navbarBackgroundHighlight: lighten($navbarBackground, 10%);
$navbarLinkBackgroundHover: darken($navbarBackground, 10%);

@import "bootstrap";
@import "catalogs";

.carousel.thumbnails {
  .buttons {
    padding: 5px; 
    position: absolute; 
    top: 0; 
    right: 0;
  }
  .buttons a {
    padding: 2px 5px;
    border: 1px solid #3F3F3F;
    @include border-radius(30px);
    background: #EFEFEF;
  }
}

.navbar {
  input[type="submit"].btn {
    margin-top: 0px;
  }
}
input[type="submit"].btn-block {
  width:100%;
}

#header {
  .logo {
    height: 40px;
    margin-right: 20px;
  }
  .brand {
    font-size: 25px;
  }
  
  .brand small {
    font-size: 0.8em;
  }
  .page-header {
    margin-bottom: 0px;
  }
}

.left-well, .right-well, .center-well {
  height: 200px;
  padding: 5px 5px;
  h2 {
    margin: 0 0 5px 0;
  }
}

#splash {
  .logo { text-align: center; }
}

#content {
  margin-top: 5px;
}

#footer {
  margin-top: 10px;
  border-top: 1px solid #EFEFEF;
  padding: 10px;
}

#footer .poweredby {
  text-align: right;
}