@import "compass";

/*$primaryColor: #135a6d;
/*$primaryColor: #357;*/

/*$navbarInverseBackground: $primaryColor;
$navbarInverseBackgroundHighlight: lighten($primaryColor, 10%);
$navbarInverseContrastColor: contrast-color($primaryColor, #1F1F1F, #DFDFDF);
$navbarInverseLinkColor: $navbarInverseContrastColor;
$navbarInverseLinkColorHover: darken($navbarInverseContrastColor, 10%);
$navbarInverseLinkBackgroundHover: darken($primaryColor, 10%);
$navbarInverseSearchBackground: #FFF;

$navbarLinkColor: #3f3f3f;
$navbarLinkColorHover: darken($navbarLinkColor, 10%);
$navbarBackground: #EFEFEF;
$navbarBackgroundHighlight: lighten($navbarBackground, 10%);
$navbarLinkBackgroundHover: darken($navbarBackground, 10%);*/

@import "bootstrap";
@import "fileupload/bootstrap-fileupload";
@import "catalogs";
@import "catalog_collection";
@import 'select2/select2';
@import 'bootstrap-datepicker';
@import 'pages';
@import 'maps';

.content { padding: 0 10px; }
