// Place all the styles related to the CatalogCollection controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.collection-button {
  margin-left: 5px;
}

ul.nav-tabs.nav-stacked.collection-list {
  border: 1px solid #efefef;
  @include border-radius(5px);
  
  li > a {
    border: none;
    border-bottom: 1px solid #efefef;
  }
  
  li:last-child > a {
    border-bottom: none;
  }
  
  li.active a:hover {
    background-color: #eee;
  }
}