// Place all the styles related to the CatalogCollection controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.collection-button {
  margin-left: 5px;
}