// Place all the styles related to the cms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cms-content-preview {
  padding: 6px 12px;
  border: 1px solid #efefef;
  border-radius: 5px;
}

.wk-switchboard, .wk-commands {
  display: inline-block;
  position: absolute;
  top: 0;
}

.wk-switchboard {
  right: 0;
}

.wk-wysiwyg {
  min-height: 214px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 1px;
  padding: 6px 12px;
  &:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
  }
}

.wk-container {
  position: relative;

  padding-top: 33px;
}

.ace_editor {
  height: 500px;
  margin-bottom: 10px;
  border: 1px solid #dfdfdf;
}

.list-group.horizontal {
  .list-group-item {
    display: inline-block;
    margin-right: -5px;
    border-radius: 0;
  }
  .list-group-item:first-child {
    border-radius: 5px 0 0 5px;
  }
  .list-group-item:last-child {
    border-radius: 0 5px 5px 0;
  }
}
