// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-results {
  padding-left: 0;

  .results-heading {
    padding: 8px;
    background-color: #fff;
    margin-bottom: 0px;
    border-radius: 5px 5px 0 0;

  }

  .results-body {
    clear: both;
    background-color: #fff;
  }

  .results-footer {
    padding: 10px;
    border-top: 1px solid #dfdfdf;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
  }
}

.full-record {
  border-radius: 5px;
  padding: 8px 15px;
  background-color: #fff;

  .title {
    margin-top: 0px;
  }
  .tabbed {
    margin: 0 -15px;

    .tab-pane {
      padding: 5px 15px;
    }
  }
}

.results-body {
  h4 {
    margin-right: 30px;
  }

  .entry {
    padding-left: 8px;
    margin-top: 0px;
    padding-top: 8px;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #dfdfdf;

    &:hover {
      background-color: #efefef;
    }
  }

  .entry .detail-block {
    display: inline-block;
    margin-right: 10px;
  }
  .entry-body {
    padding-bottom: 5px;
    padding-right: 30px;
    display: block;
  }
  .active {
    background-color: #cfcfcf;
  }
  .entry-actions {
    margin-bottom: 5px;
    margin-right: 5px;
  }
  
  // .entry-type {
  //   transform: rotate(45deg);
  //   transform-origin: top left;

  //   background: #aaf;
  //   position: absolute;
  //   right: -54px;
  //   top: -18px;
  //   width: 120px;
  //   height: 26px;
  //   line-height: 26px;
  //   color: #fff;
  //   text-align: center;
  //   font-size: 12px;
  //   font-weight: bold;
  // }
}

.entry-contact {
  margin-left: 20px;
  margin-bottom: 5px;
}

.entry-resources {
  .media .icon {
    width: 45px;
    text-align: center;
    i { font-size: 45px; }
    &.download { color: #555; }
    &.report { color: #E66C00; }
    &.website { color: #549FCB; }
    &.metadata { color: #2CAD59; }
  }
}

.description {
  margin-bottom: 0;
  td {
    border: none;
    vertical-align: top;
  }
}

.result .tag {
  margin-bottom: 5px;
  font-size: 15px;
  }

dl.download-logs {
  margin-bottom: 10px;
}

.navbar-header .navbar-title {
  font-size: 16px;
  color: #000;
}

.geojson-info {
  div { margin-bottom: 5px; }
  .title { font-weight: bold; }
}

.geojson-info div:empty {
  display:none;
}

.full-page-map-btn {
  margin-top: 2px;
  margin-bottom: 2px;
}
