$navbar-backbround: #236192;

.pagination {
  margin: 5px 5px 0px 5px;
}

.navbar.navbar-gina {
  background-color: $navbar-backbround;
  color: #efefef;
  border-color: darken($navbar-backbround, 20%);
  border-bottom: 1px solid #000;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.4);

  .navbar-toggle {
    color: white;
  }

  .navbar-nav > li {
    border-left: 1px solid darken($navbar-backbround, 5%);
    a {
      color: #FFFFFF;
      text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
      &:hover {
        background-color:#efefef;
        color: #333;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
      }
    }

    &.open > a, &.active > a {
      background-color: #efefef;
      color: #3f3f3f;
    }

    > ul.dropdown-menu > li > a {
      color: #000;
      text-shadow: none;
    }
  }


  .navbar-toggle {
    &:hover, &:focus {
      background-color: #8f8f8f;
    }
  }

  .icon-bar {
    background-color: #fff;
  }
}

.navbar-gina .navbar-brand {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);

  img {
    height: 50px;
    margin-top: -15px;
    float: left;
  }

  .gina {
    color: #EDB329;
  }

  &:hover {
    color: #fff;
  }
}

@media only screen and (max-width: 560px) {
  .navbar-gina .navbar-brand {
    font-size: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar-gina .navbar-brand {
    font-size: 25px;
  }
}

.action-space {
  margin-top: 10px;
}