@import "compass";
@import "_icons.css.scss";
@import "_search_results.css.scss";

$main-bg-color: #187b99; 

#header {
  height: 80px;
  padding: 5px 0 0 0;
  color: #fff;
  background: $main-bg-color;
  font-weight: bold;
  font-size: 14px;

  #logo img {
    height: 70px;
    float: left;
    margin: 0 15px 0 5px;
  }

  h1 {
    margin-top: 8px;
    font-size: 26px;
  }
} 
 
.x-toolbar.edit.x-toolbar-footer {
  background: $main-bg-color;
  border-top: 1px solid darken($main-bg-color, 10%) !important;
  padding: 3px 0 3px 3px;
}