@import "compass";

$primaryColor: #135a6d;
/*$primaryColor: #357;*/

$navbarInverseBackground: $primaryColor;
$navbarInverseBackgroundHighlight: lighten($primaryColor, 10%);
$navbarInverseContrastColor: contrast-color($primaryColor, #1F1F1F, #DFDFDF);
$navbarInverseLinkColor: $navbarInverseContrastColor;
$navbarInverseLinkColorHover: darken($navbarInverseContrastColor, 10%);
$navbarInverseLinkBackgroundHover: darken($primaryColor, 10%);
$navbarInverseSearchBackground: #FFF;

$navbarLinkColor: #3f3f3f;
$navbarLinkColorHover: darken($navbarLinkColor, 10%);
$navbarBackground: #EFEFEF;
$navbarBackgroundHighlight: lighten($navbarBackground, 10%);
$navbarLinkBackgroundHover: darken($navbarBackground, 10%);

@import "bootstrap";
@import "fileupload/bootstrap-fileupload";
@import "catalogs";
@import "catalog_collection";
@import "markitup";
@import "markitup-html";
@import 'select2/select2';
@import 'bootstrap-datepicker';
@import 'pages';

#flashes {
  position: absolute;
  top: 5px;
  right: 5px;
  min-width: 300px;
}

.section-nav .nav {
  width: 250px;
  top: 50px;
  border: 1px solid #EFEFEF;
  @include border-radius(6px);
  
  li:first-child > a {
    @include border-top-radius(6px);
  }
  li:last-child > a {
    @include border-bottom-radius(6px);
  }
  
  li > a {
    padding: 9px 15px;
    border: 0;
  }
}

//.pages li > a {
//  padding: 10px;
//  padding-left: 20px;
//  font-size: 1.1em;
//  
//  &.edit {
//  }
//}

ol.page-list {
  margin:5px;
  list-style: none;
  
  ol { list-style: none; }
  li { padding: 5px 0 0 0; margin:0; }
}

.page-list .group {
  
  //&:nth-child(odd) {
//    background-color: #eee;
//  }
  border: 1px solid #efefef;
  @include border-radius(5px);
  @include background-image(linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#efefef 100%)); 
  
  vertical-align: bottom;
  border-top: 1px solid #efefef;
  
  .actions {
    text-align:right;
    padding: 3px;
  }
  .title {
    padding-left: 3px;
    padding-top: 8px;
  }
}
.page-list .header {
  border-bottom: 1px solid #dfdfdf;
  margin: 0;
  div { padding-top: 5px; font-weight: bold; }
  .title { padding-left: 3px; }
  .actions { text-align: right; padding-right: 3px; }
}

.thumbnails ul {
  margin-left: 10px;
}

.image-list {
  .thumbnail {
    width:250px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    .image { position: relative; margin-bottom: 5px; }
    .caption {
      position: absolute;
      bottom: 0px;
      background: rgba(0,0,0, 0.7);
      color: #fff;
      left:0;
      right:0;
      height: 33%;
      overflow: auto;
    }
  }
}
 
#image_chooser_modal {
  .modal-body {
    padding: 0;
    padding-left: 10px;
  }
  
  .nav-tabs {
    margin-top: 10px;
    margin-right: -1px;
  }
  
  .nav-tabs a {
  }
  
  .tab-content {
    padding: 0;
    border-right: none;
    border-bottom: none;
  }
  
  .tab-content ul {
    margin: 0;
  }
  
  #thumbnail-list {
    padding: 0 0 10px 0;
  }  
}

#header {
  margin-bottom: 10px;
}