@import "compass";

$primaryColor: lighten(#135a6d, 30%);
$primaryColor: #006C8D;
$contrastColor: contrast-color($primaryColor, #1F1F1F, #DFDFDF);
$smallColor: contrast-color($primaryColor, #333, #999);

@import "bootstrap";
@import "font-awesome";
@import "fileupload/bootstrap-fileupload";
@import "catalogs";
@import "catalog_collection";
@import "markitup";
@import "markitup-html";
@import 'select2/select2';
@import 'bootstrap-datepicker';
@import 'maps';


#header {
//  @include box-shadow(0px 2px 5px -2px #AAA);
  background-color: #EFEFEF;
  border-bottom: 1px solid #afafaf;
//  margin-bottom: 8px;
  
  h4 {
    color: #555;
    @include text-shadow(1px 1px 1px #efefef);
    margin: 0px;
    padding: 10px 0 0 5px;
  }
  .row-fluid [class*="span"] {
    min-height: 24px;
  }
  .nav {
    margin-bottom: 0px;
  }
  .nav a {
    line-height: 24px;
  }
  .dropdown-menu a {
    color: #000;
  }
  .dropdown-menu a:hover {
    color: #fff;
  }
}

.portal-manager-header {
  background-color: $primaryColor;
  h2 {
    color:  $contrastColor;
    margin: 5px;
    small {
      color: $smallColor;
    }
  }
  .nav {
    padding: 5px;
  }
  .nav a {
    line-height: 40px;
    color:  $contrastColor;
  }
  a:hover {
    color: #333;
  }
}

body > .container {
  @include box-shadow(0px 2px 5px #000);
  
  .content { padding: 5px 5px; }
}

#flashes {
  position: absolute;
  top: 5px;
  right: 5px;
  min-width: 300px;
}

.section-nav .nav {
  width: 250px;
  border: 1px solid #EFEFEF;
  @include border-radius(6px);
  
  li:first-child > a {
    @include border-top-radius(6px);
  }
  li:last-child > a {
    @include border-bottom-radius(6px);
  }
  
  li > a {
    padding: 9px 15px;
    border: 0;
  }
}

.full {
  width:100%;
}

.tabbable .nav { margin-bottom: 0px; }

//.pages li > a {
//  padding: 10px;
//  padding-left: 20px;
//  font-size: 1.1em;
//  
//  &.edit {
//  }
//}

ol.page-list {
  margin:5px;
  list-style: none;
  
  ol { list-style: none; }
  li { padding: 5px 0 0 0; margin:0; }
}

.page-list .group {
  
  //&:nth-child(odd) {
//    background-color: #eee;
//  }
  border: 1px solid #efefef;
  @include border-radius(5px);
  @include background-image(linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#efefef 100%)); 
  
  vertical-align: bottom;
  border-top: 1px solid #efefef;
  
  .actions {
    text-align:right;
    padding: 3px;
  }
  .title {
    padding-left: 3px;
    padding-top: 8px;
  }
}
.page-list .header {
  border-bottom: 1px solid #dfdfdf;
  margin: 0;
  div { padding-top: 5px; font-weight: bold; }
  .title { padding-left: 3px; }
  .actions { text-align: right; padding-right: 3px; }
}

.thumbnails ul {
  margin-left: 10px;
}

.image-list {
  .thumbnail {
    width:250px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    .image { position: relative; margin-bottom: 5px; }
    .caption {
      position: absolute;
      bottom: 0px;
      background: rgba(0,0,0, 0.7);
      color: #fff;
      left:0;
      right:0;
      height: 33%;
      overflow: auto;
    }
  }
}
 
#image_chooser_modal {
  .modal-body {
    padding: 0;
    padding-left: 10px;
  }
  
  .nav-tabs {
    margin-top: 10px;
    margin-right: -1px;
  }
  
  .nav-tabs a {
  }
  
  .tab-content {
    padding: 0;
    border-right: none;
    border-bottom: none;
  }
  
  .tab-content ul {
    margin: 0;
  }
  
  #thumbnail-list {
    padding: 0 0 10px 0;
  }  
}

.center-paging {
  text-align: center;
}