@import "compass";

$primaryColor: lighten(#135a6d, 30%);
$primaryColor: #006C8D;
$contrastColor: contrast-color($primaryColor, #1F1F1F, #DFDFDF);
$smallColor: contrast-color($primaryColor, #333, #999);

@import "bootstrap";
@import "font-awesome";
@import 'manager/header';
@import 'manager/page_list';
@import 'manager/ace';
@import "fileupload/bootstrap-fileupload";
@import "catalogs";
@import "catalog_collection";
@import 'bootstrap-datepicker';
@import 'bootstrap-colorpicker/bootstrap-colorpicker';
@import 'maps';
@import 'select2/select2';
@import 'select2-fixes';
@import 'forms';

.section-nav .nav {
  width: 250px;
  border: 1px solid #EFEFEF;
  @include border-radius(6px);
  
  li:first-child > a {
    @include border-top-radius(6px);
  }
  li:last-child > a {
    @include border-bottom-radius(6px);
  }
  
  li > a {
    padding: 9px 15px;
    border: 0;
  }
}

.full {
  width:100%;
}

.tabbable .nav { margin-bottom: 0px; }


.thumbnails ul {
  margin-left: 10px;
}

.center-paging {
  text-align: center;
}
