@import "compass";

$primaryColor: lighten(#135a6d, 30%);
$primaryColor: #006C8D;
$contrastColor: contrast-color($primaryColor, #1F1F1F, #DFDFDF);
$smallColor: contrast-color($primaryColor, #333, #999);

@import "bootstrap";
@import "font-awesome";
@import 'manager/header';
@import 'manager/page_list';
@import 'manager/ace';
@import "fileupload/bootstrap-fileupload";
@import "catalogs";
@import "catalog_collection";
@import 'bootstrap-datepicker';
@import 'bootstrap-colorpicker/bootstrap-colorpicker';
@import 'maps';
@import 'select2/select2';
@import 'select2-fixes';
@import 'forms';
@import 'user_toolbar';

.section-nav .nav {
  width: 250px;
  border: 1px solid #EFEFEF;
  @include border-radius(6px);
  
  li:first-child > a {
    @include border-top-radius(6px);
  }
  li:last-child > a {
    @include border-bottom-radius(6px);
  }
  
  li > a {
    padding: 9px 15px;
    border: 0;
  }
}

.full {
  width:100%;
}

.tabbable .nav { margin-bottom: 0px; }


.thumbnails ul {
  margin-left: 10px;
}

.center-paging {
  text-align: center;
}

.ace-icon-modal {
  font-size: 14px;
  line-height: normal;
  margin: 0;

  li .icon {
    display: block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 0; 
    text-align: center;
    width: 30px;
    font-size: 20px;
    margin-top: -12px;
  }

  li a:hover .icon {
    margin-top: -19px;
    font-size: 30px;
  }

  li i {
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }

  li {
    display: inline-block;
    text-align: left;
    padding: 5px;
    line-height: normal;
    vertical-align: middle;
  }

  li a {
    position: relative;
    vertical-align: top;
    padding-left: 35px;
    display: block;
    text-decoration: none;
    width: 120px;
  }
}

.bordered {
  border: 1px solid #CCC;
  @include border-radius(3px);
}

.striped > div:nth-child(odd) {
  background: #EFEFEF;
}