@mixin map {
  layer {
    display: none;
  }

  &.leaflet-container a.btn-primary {
    color: #fff;
  }
  &.leaflet-container a.btn-default {
    color: #000;
  }

  .leaflet-marker-icon .active {
    background-color: #f00 !important;
  }

  .circle-marker {
    border-radius: 20px;
    border: 1px solid #efefef;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    line-height: 28px;
    color: #fff;
    font-size: 100%;
    width: 100%;
    height: 100%;
  }

  .blue-marker {
    background: #00f;
  }

  .circle-marker:hover {
    z-index: 10000 !important;
  }
}

.map-top {
  position:relative;
  margin-left: -15px;
  margin-right:-15px;
  margin-top:-20px;
  margin-bottom: 20px;
  z-index:10000;

  .map-container {
    height: 500px;
  }
}


.map-left .map-container {
  height: 300px;
}

.map-info {
  position: absolute;
  top: 60px;
  margin-bottom:0px; 
  left: 50%;
  margin-left: -300px;
  width: 600px;
  max-width: 100%;
  z-index: 1000001;
}

.map-container {
  width: 100%;

  &.top-bar-margin {
  }

  &.small {
    height: 300px;
  }

  &.medium {
    height: 500px;
  }

  &.large {
    height: 800px;
  }
}

.entry-map {
  @include map;
  width: 100%;
  height: 100%;
}

.search-map {
  @include map;
  width: 100%;
  height: 100%;
}

.map {
  @include map;
}

.map-container.full-screen {
  display: table;
  height: 100%;

  .map-header {
    display: table-row;
    height: 1%;
    .navbar {
      margin-bottom:0;
    } 
  }
  .map-body {
    display: table-row;
  }
  .map {
    display: table-cell;
  }
}
