#record_map {
  width: 100%;
  min-height: 300px;
  
  #map_canvas {
    width: 100%;
    height: 300px;
    background-color: #B3C6D4;
    background-color: #000; 
  }
}

#map {
  width: 100%;
  height: 340px;
  z-index: 1000000;
  
  #map_canvas {
    width: 100%;
    height: 300px;
    background-color: #B3C6D4;
    background-color: #000;
  }
}
#map_canvas {
  .olControlMousePosition {
    color: #000;
    padding: 2px 5px;
    right:0;
    top:0;
    bottom: auto;
    margin:0;
    background: rgba(255,255,255,0.7);
  }

  .olControlAttribution {
    right: 0;
    bottom: 0;
    padding: 2px 5px;
    background: rgba(255,255,255,0.7);
  }  

  .olControlLayerSwitcher label {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 0px;
    color: white;
  }  
}

.ready {
//    @include transition-property(height);
//    @include transition-duration(0.5s);
}

.search.hidden {
  #map {
    height: 40px;      
    #map_canvas {
      height: 0px;
    }
  }  
}

.search.large {
  #map {
    height: 540px;      
    #map_canvas {
      height: 500px;
    }
  }  
}

#record_map.hidden {
  display: none;
}

#record_map.small {
  min-height: 200px;
  height: 200px;
  #map_canvas {
    height: 200px;
  }
}

#record_map.large {
  #map_canvas {
    height: 500px;
  }
}

.search.affix {
  #map {
    position: fixed;
    z-index: 1000;
    top: 0px;    
    left: auto;
    right: auto;
    width: 940px;
  }  
  &.hidden {
    .result-list {
      margin-top: 40px;
    }
    .search-form {
      top: 40px;
    } 
  }
  &.large {
    .result-list {
      margin-top: 500px;
    }
    .search-form {
      top: 540px;
    } 
  }
}

.search.fullscreen {
  #map {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    height: auto;
    width: auto;
    margin-bottom: 40px;
    
    #map_canvas {
      width:100%;
      height: 100%;
    }
  }
  
  .result-list {
    display: none;
  }
}
