#map_canvas {
  .olControlMousePosition {
    color: #000;
    padding: 2px 5px;
    right:0;
    top:0;
    bottom: auto;
    margin:0;
    background: rgba(255,255,255,0.7);
  }

  .olControlAttribution {
    right: 0;
    bottom: 0;
    padding: 2px 5px;
    background: rgba(255,255,255,0.7);
  }  
}
