// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body > .container {
  @include box-shadow(0px 2px 5px #000);
  
}

.row-fluid .select2-container.span12 {
  margin-left: 0;
}

.select2-container.span12 {
  margin-bottom: 10px;
}
.carousel {
  margin-bottom: 0;
  .thumbnails {
    .buttons {
      padding: 5px; 
      position: absolute; 
      top: 0; 
      right: 0;
    }
    .buttons a {
      padding: 2px 5px;
      border: 1px solid #3F3F3F;
      @include border-radius(30px);
      background: #EFEFEF;
    }
  }
}

.quick-search {
  position: absolute;
  top: 10px;
  right: 10px;
}

.carousel-caption { margin: 0; }

.carousel.right {
  .carousel-caption {
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    left: auto;
    width: 350px;
    padding: 20px;
    color: #fff;
    background: rgba(0,0,0,0.7);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  }
  
  .carousel-control {
    top: 45%;
    opacity: 0.8;
/*    border: none;*/
    width: 30px;
    @include border-radius(0);
  }
  
  .carousel-control.right {
    right: -18px;
    font-weight: 200;
  }
  .carousel-control.left {
    left: -18px;
    font-weight: 200;
  }
}

.navbar {
  input[type="submit"].btn {
  }
}
input[type="submit"].btn-block {
  width:100%;
}

#header {
  .logo {
    height: 40px;
    margin-right: 20px;
  }
  .brand {
    font-size: 25px;
  }
  
  .brand small {
    font-size: 0.8em;
  }
  .page-header {
    padding: 10px 10px;
    margin: 0px;
  }
  h1 {
    margin: 0px;
  }
  
  ul.nav {
    margin: 5px 5px;
  }
  
  ul.nav > li > a {
    color: #333;
  }
  ul.nav > li.active > a {
    color: #fff;
  } 
  
  border-bottom:1px solid #efefef;
  @include box-shadow(0px 2px 5px -5px #000);
}

.left-well, .right-well, .center-well {
  height: 200px;
  padding: 5px 5px;
  h2 {
    margin: 0 0 5px 0;
  }
}

#splash {
  .logo { text-align: center; }
}

#content {
}

#footer {
  margin-top: 10px;
  border-top: 1px solid #EFEFEF;
  padding: 10px;
}

#footer .poweredby {
  text-align: right;
}

ul.nav.nav-tabs {
  margin-bottom: 0;
}

.tab-content {
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  .content { padding: 3px; }
}

.thumbnail {
  position: relative;
  .caption {
    position: absolute;
    bottom: 0px;
    background: rgba(0,0,0, 0.7);
    color: #fff;
    left:0;
    right:0;
    overflow: auto;
  }
}