/*
 *= require_self
 */
 
body {
  font-size: 14px;
  padding: 3px;
}

label {
  font-weight: bold;
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 10px;
}

.tabbed {
  margin-left: 10px;
}

.spacer {
  height: 10px;
}