// Place all the styles related to the SdsAdmin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'compass';

$navbarInverseBackground: #187b99;
$navbarInverseBackgroundHighlight: lighten($navbarInverseBackground, 10%);
$navbarInverseText: white;
$navbarInverseLinkColor: white;
$navbarInverseBrand: white;

@import 'bootstrap';
@import "bootstrap-responsive";
@import 'select2-2.1/select2';
@import 'fix_bootstrap';


