.required {
  label:after {
    color: red;
    display: inline;
    content: " *";
  }
}

.panel-heading {
  position: relative;
}

.panel-btn-right {
  position: absolute;
  top: 6px;
  right: 10px;
}

.nested-form-fields {
  .form-group {
    width: 100%;
  }

  tr > td {
    vertical-align: middle !important;
  }
  input[type="text"] {
    width: 100%;
  }
}

.twitter-typeahead {
  width: 100%;
}

.navbar-right .tt-dropdown-menu {
  left: auto !important;
  right: 0px !important;
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.panel-heading .breadcrumb {
  margin-bottom: 0px;
  padding: 0px;
}

.breadcrumb {
  font-size: 1.4em;
}

.panel-heading .pull-right {
  font-size: 1.4em;
}
