.required {
  label:after {
    color: red;
    display: inline;
    content: " *";
  }
}

.panel-heading {
  position: relative;
}

.panel-btn-right {
  position: absolute; 
  top: 6px; 
  right: 10px;
}