.required {
  label:after {
    color: red;
    display: inline;
    content: " *";
  }
}

.panel-heading {
  position: relative;
}

.panel-btn-right {
  position: absolute; 
  top: 6px; 
  right: 10px;
}

.nested-form-fields {
  .form-group {
    width: 100%;
  }
  
  tr > td {
    vertical-align: middle !important;
  }
  input[type="text"] {
    width: 100%;
  }
}

.panel-heading .breadcrumb {
  margin-bottom: 0px;
  padding: 0px;
}

.breadcrumb {
  font-size: 1.4em;
}

.panel-heading .pull-right {
  font-size: 1.4em;
}
