// Place all the styles related to the UseAgreements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.download {
  .title { 
    text-decoration: underline;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
  }
  .info {
    text-align: center;
    font-size: 1.3em;
  }
  .content {
    padding: 5px 10px 5px 10px;
  }
}