.navbar.navbar-static-top
  .navbar-inner
    .brand Images
    - if page.new_record?
      = link_to 'Save page before adding images', '#', class: 'btn btn-info pull-right disabled'
    - else
      = link_to '#image_chooser_modal', role: 'button', data: { toggle: 'modal' }, class: 'btn btn-success pull-right' do
        %i.icon-plus.icon-white
        Add Image
.row-fluid
  .image-list.span12
    .thumbnails{style:'padding: 3px;'}
      = render 'image_list', images: page.images, page: page