#image_chooser_modal.modal.hide.fade{tabindex:"-1", role:"dialog",style:"width:960px; margin-left:-480px;"}
  .modal-header
    %button.close{type:'button', data: { dismiss: 'modal' }} &times;
    %h3 Choose an Image
  .modal-body
    .tabbable.tabs-left
      %ul.nav.nav-tabs
        %li.active= link_to 'Choose Image', '#thumbnail-list', data: { toggle: 'tab' }
        %li= link_to 'Upload Image', '#upload-image', data: { toggle: 'tab' }
      .tab-content
        #thumbnail-list.tab-pane.active.image-list
          = render 'manager/images/list', images: current_setup.images.order('created_at DESC') - @page.images, page: @page
        #upload-image.tab-pane
          = render 'manager/images/form', image: page.images.build, page: page
  .modal-footer
    %button.btn{data: { dismiss: 'modal' }} Close