.navbar.navbar-static-top
  .navbar-inner
    %ul.nav
      %li
        = link_to manager_people_path do
          %i.icon-arrow-left
          Back
%h3 New Contact
.row-fluid
  .span12.content
    = render 'form', person: @person