#map_layers_modal_form.modal.hide.fade
  .modal-header
    %button.close{ type:"button", data: { dismiss: "modal" }, aria: { hidden: "true" } }
      &times;
    %h3 Map layer form
  .modal-body{ style: 'padding: 0; max-height: none;'}
    = render 'form'