%table.table.table-stripped.top-downloads
  %thead
    %tr
      %th Name
      %th{style:"text-align:right;"} Downloads
  %tbody
    - top_downloads.each do |ci|
      %tr
        %td
          = link_to edit_sds_admin_asset_path(ci.catalog) do
            = ci.catalog.title
        %td{style:"text-align:right;"}= ci.download_count