.panel.panel-default
  .panel-heading{ style: 'position: relative' }
    %ol.breadcrumb
      %li.active
        %i.fa.fa-users
        Users
    
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Name
        %th Email       
        %th.text-right Global Admin?
    %tbody
      = render(partial: "user_row", collection: @users, as: :user) || "<tr><td colspan=\"3\">There are no users available.</td></tr>".html_safe

  