.navbar.navbar-static-top
  .navbar-inner
    .brand Settings
    = link_to edit_manager_setup_path, class: 'btn btn-primary pull-right' do
      %i.icon-edit.icon-white
      Edit
.content
  %dl.dl-horizontal
    %dt Title
    %dd= setup.title
    %dt By line
    %dd= setup.by_line
