.navbar.navbar-static-top
  .navbar-inner
    .brand Settings
    = link_to edit_manager_setup_path, class: 'btn pull-right', title: "Edit Settings" do
      %i.icon-edit
.content
  %dl.dl-horizontal
    %dt Title
    %dd=ddtext setup.title
    %dt Acronym
    %dd=ddtext setup.acronym
    %dt By line
    %dd=ddtext setup.by_line
    %dt Contact Email
    %dd=ddtext setup.contact_email
    %dt Default Invite Text
    %dd=ddtext setup.default_invite 
    %dt Google Analytics
    %dd=ddtext setup.analytics_account
    %dt Twitter URL
    %dd=ddtext setup.twitter_url
    %dt GitHub URL
    %dd=ddtext setup.github_url
    %dt Facebook URL
    %dd=ddtext setup.facebook_url
