.row-fluid
  .span7
    %fieldset.content
      %legend Site settings
      %dl.dl-horizontal
        %dt Title
        %dd=ddtext current_setup.title
        %dt Acronym
        %dd=ddtext current_setup.acronym
        %dt By line
        %dd=ddtext current_setup.by_line
        %dt Contact Email
        %dd=ddtext current_setup.contact_email
        %dt Default Invite Text
        %dd=ddtext current_setup.default_invite 
        %dt Google Analytics
        %dd=ddtext current_setup.analytics_account
        %dt Use Recaptcha
        %dd=ddtext current_setup.use_recaptcha==true ? "Yes" : "No"
        %dt Description
        %dd=ddtext current_setup.description
        %dt Keywords
        %dd=ddtext current_setup.keywords
    %fieldset.content
      %legend Map settings
      %dl.dl-horizontal
        %dt Use Google Layers
        %dd=ddtext current_setup.google_layers==true ? "Yes" : "No"
        %dt Search
        %dd=ddtext display_projection(current_setup.projection)
        %dt Location Editor
        %dd=ddtext display_projection(current_setup.location_projection)
        %dt Full Record
        %dd=ddtext display_projection(current_setup.record_projection)
        %dt Full Record Map Size
        %dd=ddtext display_map_size(current_setup.record_map_size)
  .span5
    %fieldset.content
      %legend Portal Favicon
      - if current_setup.favicon.nil?
        No Favicon Uploaded
      - else
        = image_tag current_setup.favicon.image.encode(:png).thumb('100x100').url unless current_setup.favicon.image.nil?
.row-fluid
  .span12
    %fieldset.content
      %legend Social settings
      %dl.dl-horizontal
        %dt Facebook URL
        %dd=ddtext current_setup.facebook_url
        %dt GitHub URL
        %dd=ddtext current_setup.github_url
        %dt Google+ URL
        %dd=ddtext current_setup.google_plus_url
        %dt Instagram URL
        %dd=ddtext current_setup.instagram_url
        %dt Linkedin URL
        %dd=ddtext current_setup.linkedin_url
        %dt Tumblr URL
        %dd=ddtext current_setup.tumblr_url
        %dt Twitter URL
        %dd=ddtext current_setup.twitter_url
        %dt YouTube URL
        %dd=ddtext current_setup.youtube_url          
    