.navbar.navbar-static-top
  .navbar-inner
    %ul.nav
      %li
        = link_to manager_catalog_collections_path do
          %i.icon-arrow-left
          Back
%h2= "Edit Collection #{@catalog_collection.name}"
= render 'form', catalog_collection: @catalog_collection