.container
  .panel.panel-default
    .panel-heading
      %ol.breadcrumb
        %li
          = link_to manager_permissions_path do 
            %i.fa.fa-lock
            Permissions
        %li Edit user invitation
    .panel-body
      = render 'form'