%ol.cms-page-list{ style: 'padding: 10px;' }
  %li
    %i.fa.fa-fw.fa-minus-square-o
    = link_to cms_pages_path do
      All pages
  %ol
    = render 'tree', tree: current_portal.pages.roots, parent: nil
