.panel.panel-default
  .panel-heading
    %h1.panel-title Preview
  .panel-body{ style: 'padding: 0px;' }
    .cms-page-content.page{ style: 'padding: 0px;' }
      #{render '/pages/theme'}
      #{page.render}
