= render current_portal.pages.roots.first
  
- content_for :sidebar_menu do
  = render 'page_list'

  = link_to new_cms_page_path, class: 'list-group-item list-group-item-success' do
    %i.fa.fa-plus.fa-fw
    New page
