#header-navbar.collapse.navbar-collapse
  %ul.nav.navbar-nav.navbar-right
    = render 'layouts/catalog_menu'
    = render 'layouts/portal_menu'
    = render 'layouts/admin_menu'
    = render 'layouts/authorization_menu'
