.panel.panel-default
  .panel-heading
    %h1.panel-title CMS Menu
  .list-group
    = active_link_to cms_pages_path, active: :inclusive, class: 'list-group-item' do
      %h4.list-group-item-heading Pages
      %p.list-group-item-text
        Manage CMS pages
    = active_link_to cms_layouts_path, active: :inclusive, class: 'list-group-item' do
      %h4.list-group-item-heading Layouts
      %p.list-group-item-text
        Manage layouts for CMS pages
  .list-group
    = content_for :sidebar_menu

- if content_for?(:help)
  .panel.panel-default
    .panel-heading
      %h1.panel-title Help
    .panel-body
      = content_for :help
