- if can? :view_manager_menu, current_user
  %li.dropdown
    = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
      Manager 
      %span.caret
      
    %ul.dropdown-menu
      %li
        = link_to manager_path do
          %i.fa.fa-dashboard
          Dashboard
      - if can? :manage, current_user.permissions.for(current_site)
        %li
          = link_to manager_permissions_path do
            %i.fa.fa-lock
            Permissions